[2020-04-01 17:34] lazyfrosch opened #1 "A new home for terminator"
Sadly the old team of Terminator have given up maintaining the project, there hasn't been any activity on [Launchpad](https://launchpad.net/terminator) for years now.

As a user and the current maintainer of the package in Debian I have great interest in keeping the project alive.

This GitHub organization will be the new home for Terminator.

If you have contributed to terminator in the past, or

[2020-04-01 17:55] lazyfrosch opened #2 "Ensure Python 3 support"
Current master doesn't work with Python 3...

We need to merge several community patches:
- [Debian](https://salsa.debian.org/python-team/applications/terminator/-/tree/debian/master/debian%2Fpatches)
  + [#953153](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=953153)
  + [#955383](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=955383)
- Fedora

See PR #6 for details

[2020-04-01 18:10] geckon commented on #1
Just a few words of support here :)

I have been using terminator for a long time and I still love it. I also am a Python developer and have been watching the porting efforts for a while now.

That said I don't feel I have enough time to become a proper maintainer unfortunately which is why I never volunteered to become one but I might be able to help with smaller things here and there and I defin

[2020-04-01 18:23] lazyfrosch commented on #1
@geckon Welcome, **any** help is welcome, we all have these problems...

[2020-04-02 07:38] widhalmt commented on #1
+1 from me for keeping Terminator alive and well. As @geckon I might not have enough time (and coding knowledge) to be real maintainer, but if there are smaller tasks I can offer help. Terminator is well worth the effort.

And by the way: Thank you for keeping it alive.

[2020-04-02 13:31] AdnanHodzic commented on #1
Happy to hear Terminator project is still alive as its my favorite terminal emulator :)

Looking forward to the updates and I'm hoping I'll have time to get involved with the project myself.

[2020-04-02 13:37] AdnanHodzic opened #3 "ctrl+click should open links"
Almost 12 years after [original bug along with patch was submitted on Launchpad](https://bugs.launchpad.net/terminator/+bug/211079), I'm still unable to open links from Terminator using ctrl+click (Terminator 1.91-4 on Ubuntu 20.04).

[2020-04-04 02:12] ngosang commented on #2
In ArchLinux we have at least 2 forks with Python3 support working. Maybe they are useful in some manner.

1. https://aur.archlinux.org/packages/terminator-git/
Source code => https://github.com/JAugusto42/terminator

2. https://aur.archlinux.org/packages/terminator-python3-bzr/
Source code => https://code.launchpad.net/~hellodeargrandma/terminator/python3

@JAugusto42 ping

[2020-04-04 10:21] lazyfrosch commented on #2
We will start opening a PR with the changes from Debian and Fedora soon. Would be great when more people review the changes, in case we missed something.

[2020-04-04 17:32] AdnanHodzic opened #4 "Terminator need to highlight search string"
Terminator has a built-in search (ctrl-shift-f - default keybinding), but it doesn't highlight the found text, which makes it fairly useless.

This bug is already [reported in launchpad (#271487) back in 2008.](https://bugs.launchpad.net/ubuntu/+source/terminator/+bug/271487)

[2020-04-05 08:29] lazyfrosch commented on #4
@AdnanHodzic thanks for porting the issues that are relevant to you, could you please backlink to our new issues from Launchpad?

Just state something like: "I have created this issue with the new GitHub project: <link>"

This will help us improve the general awareness and people will find us when looking for a particular issue.

[2020-04-05 08:31] lazyfrosch commented on #1
If you are opening issues here that were already on Launchpad, make sure to link between GitHub and Launchpad in both directions!

[2020-04-05 08:35] AdnanHodzic commented on #4
@lazyfrosch most welcome, done.

[2020-04-05 08:51] AdnanHodzic opened #5 "No option for background image in gtk3 version"
I remember we could use a background image as terminal background. It would be great if we could have this option back, [launchpad #1635704](https://bugs.launchpad.net/terminator/+bug/1635704)

[2020-04-05 13:17] tgagor commented on #3
It was working for me until update to Ubuntu 20.04.
Setting custom URL handler also do not help.

[2020-04-05 13:28] lazyfrosch commented on #3
@tgagor you mean URL handling in general, this issue here should be about opening a URL with a single click

[2020-04-05 16:05] ohir commented on #2
At https://github.com/ohir/terminator is my (1.91 based) enhanced version.

Unfortunately debian/arch patches are just rewrites of the old code - with many architectural issues,
so I published my code as-is (I use it daily). _The stopper (for porting to v3) for me was the config, with borg leaking over crust gathered from many contributors in the past. I started to write new config, but reality ca

[2020-04-05 16:24] JAugusto42 commented on #2
Hello, thanks for the mention, so I have no interest in keeping any version of the terminator, I just did it to get python2 out of my machine, one of the arch developers and maintainer of the terminator in the arch said that he will kill the terminator that depends on python2, I just anticipated it. As soon as a usable version comes up or the terminator maintainer in the arch decides which repo to

[2020-04-05 16:37] lazyfrosch commented on #2
@JAugusto42 thanks for your input :wink:

[2020-04-05 16:40] JAugusto42 commented on #2
@lazyfrosch
You're welcome, I already spoke with the package maintainer on the arch and he will look at your repository, me at night (night here in Brazil), I will drop my repository and start contributing to yours, better centralize everything in a repository.

[2020-04-05 17:46] lazyfrosch commented on #3
So I had a look at the code, CTRL+Click is fixed when the RegExp code works again, see #6

[2020-04-05 17:52] tgagor commented on #3
@lazyfrosch yeah, I mean that URL handling do not work at all in Ubuntu 20.04.

[2020-04-05 17:54] #2 closed

[2020-04-05 17:54] #3 closed

[2020-04-05 17:56] lazyfrosch commented on #3
@tgagor this is caused by the VTE implementation having changed the API, it is fixed in master for now

[2020-04-05 18:54] mattrose opened #8 "python3 needs to be in the shebang line for fedora."
If I try to run the terminator script in Fedora now, I get:

[code]

Should we change this to python3?

[2020-04-05 19:00] #8 closed

[2020-04-07 14:32] jest opened #10 "VTE Regexp should work with older VTE releases as well"
Since the commit b2a47a50fdcd867335960d35966dc4cebe4c33c0 the code is broken on Ubuntu 16.04, which uses the old VTE:

[code]

This is reproducible by using PPA `ppa:gnome-terminator/nightly-gtk3` on 16.04, caused there by commit version `1.91-0~1835~ubuntu16.04.1`.

In https://bugs.launchpad.net/terminator/+bug/1867746/comments/7 you mentioned that the "real" development is moved to GitHub, so I

[2020-04-07 15:19] AdnanHodzic opened #11 "Get a notification when terminal task is done"
It would be great if terminator would have an option to show a notification once a task has finished.

Similar to [NotiFyre](https://github.com/kaustubhhiware/NotiFyre), [undistract-me ](https://github.com/jml/undistract-me) and [Elemetnary OS terminal](https://github.com/elementary/terminal) projects.

![image](https://i.stack.imgur.com/OLzQD.jpg)

There are "In/ActivityWatch" plugins in Terminat

[2020-04-07 16:59] lazyfrosch commented on #10
Thanks for your issue

This should have been fixed with #6 and is merged to master, we are working on a release soon.

We don't own the Launchpad project currently, as well as the PPA, so there are no "nightly" builds!

[2020-04-07 17:01] lazyfrosch commented on #10
Oh sorry I misread your issue, I will have a look at that!

[2020-04-08 15:33] mattrose opened #12 "Right click and "hide on lose focus""
Imported from launchpad https://bugs.launchpad.net/terminator/+bug/843674

There's code in this bug that fixes it, that was never, afaict, merged into the release branch.

[2020-04-08 18:48] mattrose commented on #4
Found [this intriguing comment](https://bugs.launchpad.net/terminator/+bug/271487/comments/29). that suggests that it's fixed in rev 1773. I'll check my branch of the bzr code to see if there's something in ther

[2020-04-08 18:57] dmaphy commented on #11
The plugins seem to work quite fine for me on Fedora with terminator-1.91-15.fc32.noarch.

[2020-04-08 19:07] mattrose commented on #4
Looks like it's fixed in Github.  @AdnanHodzic can you try out the latest code and see?

[2020-04-09 08:51] AdnanHodzic commented on #4
@mattrose I have problem with installing from `master`, namely:

[code]

After I change `setup.py` line to `#!/usr/bin/env python3`, I still get an error:

[code]

After which:

[code]

and finally:

[code]
any ideas? I was simply following instructions in: `INSTALL` file.

[2020-04-09 09:57] lazyfrosch commented on #4
Currently you will need to install `gettext` and `intltool` as external non-Python deps.

I plan to fix/improve this later.

[2020-04-09 09:58] lazyfrosch opened #13 "Improve gettext integration"
Currently you will need to install `gettext` and `intltool` as external non-Python deps.

This is not really documented and should be improved over all.

Can we do this internally in Python?

This was mentioned in #4

[2020-04-09 09:59] lazyfrosch opened #14 "Switch to setuptools"
To better handle installation and dependencies we should switch from `distutils` to `setuptools`.

This will help with packaging too.

[2020-04-09 10:01] geckon commented on #14
Just curious... Have you considered using poetry? I've recently switched several projects to poetry and I really like it.

[2020-04-10 09:39] lazyfrosch commented on #14
If it helps maintaining setup.cfg or setup.py I would agree, not sure how many distros can work with `pyproject.toml`

[2020-04-10 10:48] rixx commented on #4
I tried this in the current `master` and cannot see a highlight. I'm not sure the search works correctly, as even searching for "e" (which occurred a lot) only ever seemed to yield two results (or at least only one click on the Prev/Next button each).

[2020-04-13 00:32] michaelfong commented on #5
On Mac OS X, iterm2 is quite polished having a gallery of standard images and allowing adding custom background images to any of NN profiles. With Linux, the Terminology terminal emulator is the only one I found that allows for custom backgrounds. However, the image is applied to ALL windows.

[2020-04-13 18:10] geckon commented on #14
That's actually a good point. I don't know how many distros support poetry either.

[2020-04-16 16:06] grazzolini commented on #1
Hi, I'm the maintainer of terminator on Arch Linux. We have plans to drop python2 completely soon from Arch. I know @JAugusto42 fork and have been encouraging him with his python2 -> 3 efforts. I think it's great there's an effort to keep this project going. I want to switch the Arch Linux package to this, but for that I need a tagged release. Are there any plans to make a release in the near futu

[2020-04-16 16:12] JAugusto42 commented on #1
Hello @grazzolini , so as far as I know, @lazyfrosch is planning a release soon, we still have some adjustments that we want to make, however due to the lack of time it's a little complicated.

[2020-04-16 16:21] lazyfrosch commented on #1
Indeed, currently master doesn't run on Python 2.7 anymore, not sure if we should support it for the time being.

I mainly want to make sure that metadata, and basic tests are in place, so that we at least test the compilation and dependencies.

Btw. I want to make a small website on gnome-terminator.github.io, if someone could contribute a bit of HTML and CSS...

[2020-04-17 01:48] mckellyln commented on #1
Thanks so much, I am a big fan of Terminator and have been for years.
Can you make python -> python3 in the files so that if 2 and 3 are installed it works with 3 ?
I'll terst it soon, lmk if there is anything I can do to help.
thx,
-m

[2020-04-17 08:28] lazyfrosch commented on #1
@mckellyln this is usually handled by setuptools, but not in this weird usage we are having here, see #8

[2020-04-17 12:15] grazzolini commented on #1
I think we can wait a bit for a release. But, for example, that new vte version that broke the links, I think is the most pressing issue. I might backport a patch for this, but a point release with the "old" code here would be helpful.

[2020-04-17 13:13] JAugusto42 commented on #1
@grazzolini This has already been resolved at the master.

[2020-04-17 14:25] grazzolini commented on #1
Yes, I'm aware. But I would need to backport it as a patch and apply to the current release on the package. Whereas if a point release is made here, I can simply switch the source to here.

[2020-04-17 16:58] lazyfrosch opened #20 "Release summary for 1.92"
This is the first release since 2017, while we are now a few years later a few things changed.

* New home on GitHub https://github.com/gnome-terminator/terminator
* New team under the lead of https://github.com/lazyfrosch
* Python 3 support finally released
* Some tedious bugs solved for current GTK and VTE

There is still a lot to do, and we need more help to keep Terminator available for your d

[2020-04-17 17:59] mckellyln opened #21 "key sequence to popup context menu ?"
Hi,
========== Not a problem, just a ques/request ===========
Is there a key sequence (Win+Alt+p etc.) to pop up the context menu ?
I would like to not have it pop on mouse click but only on key sequence.
If not, I can modifiy terminal.py but it would be great if this were configurable.
thx,
-m

[2020-04-17 18:15] lazyfrosch commented on #21
Hey there,
actually the context shortcut works for me here.

Not sure how other GTK apps handle this.

[2020-04-17 18:21] mckellyln commented on #21
ok, I didn't know, thanks.  I will search how to set this ....

[2020-04-17 18:43] lazyfrosch commented on #21
I meant the normal context key on most keyboards:
![image](https://user-images.githubusercontent.com/121874/79602809-7bbee780-80eb-11ea-87ce-8a8f3a01d658.png)

Alternatively Shift+F10 works, but I can't find any documentation.

I'll assume this should work for you :wink:

[2020-04-17 18:43] #21 closed

[2020-04-17 18:46] mckellyln commented on #21
Shift+F10 works great.  I wanted to stop the mouse click for it since I use that for other things.

[2020-04-17 18:47] mckellyln commented on #21
So I just wondered if there was a config setting to disable the popup on mouse click ?

[2020-04-17 18:47] mckellyln commented on #21
Thanks again so much for carrying on with Terminator!

[2020-04-17 18:52] lazyfrosch commented on #21
Since it's the only real menu access in Terminator right now it wouldn't be a good idea to disable it

[2020-04-17 19:05] mckellyln commented on #21
ok, I dont mean disable it from all methods - just from a mouse click.
I can edit the the terminal.py in my world :-)

[2020-04-18 10:31] #10 closed

[2020-04-18 10:34] #20 closed

[2020-04-18 10:55] lazyfrosch commented on #1
I just published the first release here: 1.92
https://github.com/gnome-terminator/terminator/releases/tag/v1.92

Please help test, spread the news, and talk to your distribution if they would switch to our code base here.

[2020-04-18 11:53] x4lldux commented on #11
Enjoy https://github.com/x4lldux/terminator-long-cmd-notify

[2020-04-18 13:11] jest commented on #10
@lazyfrosch the released version works on 16.04. However, on 18.04 I have problems:
[code]

I run the program with `.\terminator` from the released 1.92 version.

[2020-04-18 13:39] jest commented on #10
Searching more on this shows that Ubuntu has patched VTE to not use pcre2 lib. At least in 17.10 and 18.04. (Probably fixed in 19.04, but don't have a system to test this ATM).

Looks like `PCRE2_MULTILINE` is required for proper links highlighting, so I have no idea how to fix this. :(

[2020-04-18 14:31] dgutov commented on #10
It works on 19.10, FWIW.

[2020-04-18 14:32] lazyfrosch commented on #10
So they use the modern functions, but bail on the PCRE constant for flags (or better the byte value).

Amazing...

[2020-04-18 17:51] dgutov commented on #4
Seems to work all right in 1.92:

I initiate search, input the string (such as `e`), press RET and see the highlighting. Further RET presses loop between the matches (the highlighting moves).

[2020-04-19 02:34] fonzinc opened #24 "Middle click does not paste selected text"
Setup: CentOS 8 / Gnome (Wayland)

Steps to reproduce:

1. Open a gnome terminal and highlight some text with the mouse.
2. Middle click within the gnome terminal and observe that the highlighted text is pasted.
3. Middle click within a terminator window and observe that the pasted contents are from a different clipboard (not the highlighted text).

[2020-04-19 02:44] fonzinc opened #25 "Ctrl+Shift+e shortcut collision"
Setup: CentOS 8 / Gnome (Wayland)

The default vertical split shortcut collides with the emoji shortcut. This is quite sad as my muscle memory definitely wants to keep using this key combo...

Consider changing the default v-split shortcut since it no longer works?

See: https://askubuntu.com/questions/1083913/what-does-ctrl-shift-e-do-while-typing-text

[2020-04-19 04:02] JAugusto42 commented on #24
yep! confirmed!

[2020-04-19 04:15] JAugusto42 commented on #25
Hi, actually you can change the default key bindings in preferences > keybindings.

[2020-04-19 04:17] JAugusto42 commented on #24
I couldn't reproduce, which version of the terminator are you using?

[2020-04-19 10:29] thomaklee commented on #1
I'm a loyal user of terminator on the arch Linux platform. I'm sorry that it stopped updating for a long time. Thank you for your contribution. I'm looking forward to the update.

[2020-04-19 10:37] JAugusto42 commented on #1
Yes, I also use it on arch linux and I am very happy with the possibility of keeping the terminator updated. We are going to improve a lot.

[2020-04-19 12:28] lazyfrosch opened #26 "Improve AppStream Metadata"
* https://appstream.debian.org/sid/main/issues/terminator.html
* https://salsa.debian.org/python-team/applications/terminator/-/blob/debian/master/debian/patches/appdata_improvement.patch
* https://salsa.debian.org/python-team/applications/terminator/-/blob/debian/master/debian/patches/appdata_in_metainfo.patch

[2020-04-19 12:33] lazyfrosch commented on #25
I wasn't even aware of that Emoji combination.

Question: We could change the default, any suggestions?

[2020-04-19 12:35] lazyfrosch commented on #24
Same for me, can you share your config file? `$HOME/.config/terminator/config`

[2020-04-19 12:54] lazyfrosch commented on #4
I'm not seeing any highlight at the moment :weary:

[2020-04-19 14:44] lazyfrosch commented on #10
Further fixes in #28

[2020-04-19 15:06] mckellyln opened #29 "Alt+ScrollWheel ?"
Hi,
In my very old terminator I used alt+mouse scrollwheel.
But I cannot seem to get any esc sequences out of terminator with alt+scrollwheel.
scrollwheel by itself works fine.  Does anyone know if this is configurable ?
thx
-m

[2020-04-19 15:16] fonzinc commented on #24
Sure.

I've reproduced this behavior on multiple CentOS 8 machines using terminator-1.91-15.el8.noarch.
I also reproduced it using 1.92.

I'm suspicious that this issue is specific to Gnome or Wayland because I never saw this issue on CentOS 7 using KDE/X11.

**Config:**
[global_config]
[keybindings]
  split_vert = <Primary><Shift>e
[profiles]
  [[default]]
    background_darkness = 0.83
    backg

[2020-04-19 15:34] fonzinc commented on #25
I've been re-mapping the vertical split to Ctrl+Shift+L. I realize it's a petty request, but it would be really nice if the first task on a new installation was not to modify the keybindings.

I'll happily retrain my muscle memory to use any new default.

Obviously, the preference would be to avoid any other conflicting key combinations.

Found this: https://en.wikipedia.org/wiki/Table_of_keyboard

[2020-04-19 18:37] geckon commented on #25
I wasn't aware of the emoji combination either and I do happily and very often use this key combination for splitting the terminator window in OpenSUSE Tumbleweed.

Is the emoji combination a new thing? Or something CentOS specific?

[2020-04-20 15:24] yuriw commented on #4
any clues how to make it work?

Here I see some suggestions that it may, but it would be useful if anybody who have been successful posted exact steps. Thx!

[2020-04-20 17:39] grazzolini commented on #1
I have updated the terminator version on Arch Linux. Thanks for making a release. One small not is, your key seems to be expired @lazyfrosch. I have verified things manually and also by using keybase, but it would be nice if you had a non expired key, just saying.

[2020-04-20 17:52] lazyfrosch commented on #1
@grazzolini My current subkeys are due for extension, but still valid until `2020-09-13`

I guess Keybase is the problem here, I update the normal keyservers, as you can see here:

http://pgp.zdv.uni-mainz.de:11371/pks/lookup?op=vindex&search=0x9A358BAB04A4ED27

Only on [db.debian.org](https://db.debian.org/search.cgi?uid=lazyfrosch&dosearch=1)

[2020-04-20 17:59] grazzolini commented on #1
Don't worry. I've updated the key from a key server and all is good here.

[2020-04-21 02:21] mckellyln opened #31 "18.04 No module names 'configobj'"
Hi,
I installed the latest terminator and ran -
[code]
then went to start it and -
[code]
Anyone have any ideas before I go digging ?
thx,
-m

[2020-04-21 02:22] mckellyln commented on #31
I'm on Ubuntu 18.04 and latest termintor commit 53118b9eaa395c4f53ce64f6e5a3982c654d3417

[2020-04-21 02:55] mckellyln commented on #31
ok, sorry my error not having configobj installed for python3.

[2020-04-21 02:55] #31 closed

[2020-04-21 04:12] MortalGoddess opened #32 "terminator version 1.92-1 won't launch from whisker menu (arch XFCE)"
When using the Open terminal here option in the xfce whisker menu, and with Terminator as my preferred terminal it fails to open the terminal. This works as intended and fine as 1.91-1, and downgrading does result in the intended result.
![image](https://user-images.githubusercontent.com/43297317/79824560-83d58c00-8364-11ea-9627-2f8ab21cf470.png)
![image](https://user-images.githubusercontent.com/

[2020-04-21 05:49] hirowatari commented on #32
Also an arch user.  After upgrading from 1.91-6 to 1.92-1, I got the following error:
[code]

Thanks for your work on Terminator and please let me know if I can do anything else to help debug the issue.  Downgrading fixed it for now.

[2020-04-21 06:50] ErwinJunge commented on #32
This might very well be an Arch Linux packaging issue. The dependency on configobj is specified in https://github.com/gnome-terminator/terminator/blob/master/setup.py#L237, however `pacman -Si terminator` returns this:

`Depends On      : gsettings-desktop-schemas  libkeybinder3  libnotify  python-cairo  python-dbus  python-psutil  python-gobject  vte3  xdg-utils`

I've fixed it locally by install

[2020-04-21 06:52] ErwinJunge commented on #32
A bug in the Arch tracker has apparently already been filed: https://bugs.archlinux.org/task/66332?project=5&string=terminator

[2020-04-21 07:02] MortalGoddess commented on #32
This fix also fixed the initial issue, but introduced a bug with the transparency no longer working.

[2020-04-21 07:32] lazyfrosch commented on #32
Dependencies might have to be fixed in some distributions, but that is not some change we did with 1.92...

[2020-04-21 07:34] lazyfrosch commented on #32
Also see #31

@MortalGoddess regarding transparency, this could be an issue with XFCE, but I haven't tested it yet.

Can you open a separate issue and describe your environment?

[2020-04-21 07:35] #32 closed

[2020-04-21 12:11] idarlund commented on #3
Seems to stil be a problem in upstream on Fedora. Added bug report here:
https://bugzilla.redhat.com/show_bug.cgi?id=1826307

[2020-04-21 14:10] alcir commented on #24
I can confirm this behaviour on Fedora 31. GNOME on Wayland.
`terminator-1.92-1.fc31.noarch`

[2020-04-21 14:26] TheDalaiAlpaca opened #34 "Terminator crash on start"
When I try to run terminator it crashes.
[code]

Terminator used to work on my system, but not anymore after a reboot.
Reinstalling the package had no effect.

[2020-04-21 14:40] mckellyln commented on #34
Hi,
Install python3-configobj dependency.
The list of all of them is in the INSTALL file:
[code]

[2020-04-21 15:59] lazyfrosch commented on #34
Please check existing and closed issues before creating a new one. Dependencies are usually handled by the distribution packages, so here is the bug to go for: https://bugs.archlinux.org/task/66332?project=5&string=terminator

see #32 #31

[2020-04-21 17:06] lazyfrosch commented on #34
Please check existing and closed issues before creating a new one. Dependencies are usually handled by the distribution packages, so here is the bug to go for: https://bugs.archlinux.org/task/66332?project=5&string=terminator

see #32 #31

[2020-04-21 17:06] #34 closed

[2020-04-21 18:06] mattrose commented on #4
So I just tried this on Fedora 31 with terminator-1.92-1 with a default configuration, both under X11 and wayland.  It works for me.  maybe there's an underlying problem with GTK, or VTE?

[2020-04-21 18:22] yuriw commented on #4
i can't even try, PPA shows error

Err:11 http://ppa.launchpad.net/gnome-terminator/ppa/ubuntu focal Release
  404  Not Found [IP: 91.189.95.83 80]

Is it right PPA ?

[2020-04-21 18:24] lazyfrosch commented on #4
This PPA is currently unmaintained as we have no access to the original Launchpad project.

[2020-04-21 18:44] yuriw commented on #4
@lazyfrosch thx for the reply!
1.  do you think after 20.04 officially is out it will be the same PPA?
2.  is there any way to install latest terminator on 20.04 now ?

[2020-04-21 18:59] AdnanHodzic commented on #4
@yuriw yes it's possible, but it's bit of a hackish ordeal. Regardless, let me guide you through it, first you need to install some dependencies:

[code]

Then since `python-configobj` is not in Ubuntu 20.04 repositories anymore, you need to [download it for 19.10 release](https://packages.ubuntu.com/eoan/all/python-configobj/download).

Followed by:

`sudo dpkg -i python-configobj_5.0.6-3_all.deb

[2020-04-21 19:03] yuriw commented on #4
@AdnanHodzic
Thx I will try
- at what line exactly Terminator gets installed?
- hope this will not mess up my 20.04, will it ?

[2020-04-21 19:09] AdnanHodzic commented on #4
@yuriw last line is what compiles and installs Terminator from git.

What I explained is very straight forward and if things go south you can always run:
[code]

to remove all files that were created during the Terminator compilation process. However, if compiling software makes you uncomfortable I would definitely advise you against it :)

[2020-04-21 19:14] yuriw commented on #4
@AdnanHodzic that depends on the final results :)

I assume I need to do
git clone https://github.com/gnome-terminator/terminator/
  before next steps?
sudo ./setup.py install --record=install-files.txt

?

[2020-04-21 19:16] AdnanHodzic commented on #4
@yuriw correct

[2020-04-21 19:59] yuriw commented on #4
@AdnanHodzic
well I did all steps and I think did not get 1.92

[code]
See install-files.txt https://pastebin.com/G8hjyr3P

what's wrong ?

[2020-04-21 20:08] AdnanHodzic commented on #4
@yuriw you need to remove `terminator` package which you have installed first.

[code]

Then run all commands I listed in Gnome terminal.

[2020-04-21 20:11] yuriw commented on #4
@AdnanHodzic
Ok copy that
Will I keep all my saved profiles/layout?

[2020-04-21 20:18] AdnanHodzic commented on #4
@yuriw no, settings will not be affected. I believe I gave you all information you need to resolve your problem (which could've been a separate issue). Let's not turn this bug report into a support ticket.

[2020-04-21 20:27] yuriw commented on #4
@AdnanHodzic sure and I appropriate you help!

But still after all steps - search does not work at all.
I'd be happy to provide all info needed if you wish.

[2020-04-21 20:43] AdnanHodzic commented on #4
@yuriw you're most welcome. Yes, I confirmed the same in https://github.com/gnome-terminator/terminator/issues/4#issuecomment-617352723

Now I suggest we wait for feedback from @lazyfrosch or @mattrose

[2020-04-21 21:31] mattrose commented on #12
Looks good now.  Gonna close

[2020-04-21 21:31] #12 closed

[2020-04-22 06:35] lazyfrosch commented on #3
@idarlund works in my test environments

cc @mattrose @dmaphy

[2020-04-22 14:40] idarlund commented on #3
Yeah. Mine too. Check my bug report over at fedora. I've tested the updated package from fedora updates-testing repo

[2020-04-22 14:58] yuriw commented on #4
@AdnanHodzic the only odd is =>

[code]
is it expected ?

[2020-04-22 16:49] inoperable commented on #1
Maybe now team M$/Windows-Terminal will get some inspiration and stop (re)inventing terminator features the wrong way ;)

[2020-04-22 16:59] inoperable commented on #25
@fonzinc you can try to disable global shortcuts on the windows manager level. It's possible in Kwin/Plasma, probably with others as well.

Add a shortcut that toggles this, you can then swap between priority for conflicted shortcuts, meaning if globals are disabled - terminator gets priority, when enabled the other way around. Simple hack, less headache :-) Can also add some xcape xkbcomp hacks t

[2020-04-22 20:21] thorian93 commented on #1
Although many said it already, I am really grateful that someone keeps terminator alive, as it is my only terminal emulator, so matter which Linux I am on. Bis shout out thanks @lazyfrosch!

This is not only a thank you though: I am nowhere near being a developer, but my English is quite okay I think so I would love to help by porting issues from launchpad. My question is: Is you goal to have all

[2020-04-22 22:51] MortalGoddess opened #37 "broken profile transparency with 1.92 and XFCE"
Before the 1.92 update I had no issues with transparency, however after 1.92 I no longer have transparency, even if I downgrade to 1.91-6 on arch.

I have tested that the profile is being loaded, and I can load another profile using the -p flag with no issues, but irregardless of profile, transparency doesn't work.

I don't know what sort of logs I could be able to find, but let me know what more

[2020-04-22 23:48] fonzinc commented on #25
@inoperable Yeah. That's a good suggestion.

I have a reasonable work-around. I've been remapping my v-split keybinding since discovering the issue. I guess my point in reporting the bug was to document its existence and propose that it might be worth changing the default since I won't be the only person affected by the collision.

For me, personally, the emoji keybinding is here to stay! I've sta

[2020-04-23 01:12] JAugusto42 commented on #37
i try to reproduce here, but heres works fine, how to reproduce?

[2020-04-23 01:54] MortalGoddess commented on #37
I don't know more then
Arch XFCE
have transparency working in 1.92-6
Upgrade
No transparency.

I have done full reinstall of terminator, I have removed the config file and reinstalled terminator, I have even checked that the config file is set to transparent (it is)

I figured that it is a system issue, but I have no idea what it could be, the toggle is checked on the profile. I checked the toggle

[2020-04-23 02:11] JAugusto42 commented on #37
i have arch wth xfce too, and transparency here works fine.

[2020-04-23 02:13] MortalGoddess commented on #37
Are there config files other then ~/.config/terminator/config I should be looking at or into?
Would sharing my config file here help any as well?

[2020-04-24 11:09] r2rien commented on #1
Another big shoutout thanks @lazyfrosch & all, what a good news to read !
+ you can count me in for python/html/css if I can be of any help, cheers !

[2020-04-25 04:59] fonzinc commented on #24
A few more data points from Fedora 31:

Terminator v1.92:
- Gnome/Wayland - BROKEN
- Gnome/X11 - WORKS
- KDE/Wayland - BROKEN
- KDE/X11 - WORKS
- Weston/Wayland - BROKEN

Terminator v1.91.10.fc31:
- Gnome/Wayland - WORKS
- KDE/Wayland - WORKS
- Weston/Wayland - WORKS

[2020-04-25 05:20] fonzinc commented on #24
Disabling the special logic to switch the clipboards on Wayland gives me the expected behavior on CentOS 8 Gnome/Wayland.

    --- terminatorlib/terminal.py.orig  2020-04-24 22:48:07.447809430 -0600
    +++ terminatorlib/terminal.py       2020-04-24 22:48:24.943312461 -0600
    @@ -929,12 +929,11 @@
                 # Suppress double-click behavior
                 return True

    -        use_pr

[2020-04-25 12:11] JAugusto42 commented on #29
hi
i will check here, Sorry for the late answer.

[2020-04-25 16:31] JakubVanek opened #38 "[Feature Request] Make bold-is-bright option configurable"
Hi all!

I've recently switched to Ubuntu 20.04 and I was surprised that my terminal prompt looks darker. This is a problem for me - I have problems seeing small letters with reduced contrast.

It turns out that GNOME Terminal (and VTE) have switched the bold-is-bright option to off by default: https://askubuntu.com/a/1156969

One of the ways forward (for me) is to change PS1 and LS_COLORS. On the

[2020-04-25 19:28] JakubVanek opened #40 "Remove default keybindings for enabling terminal broadcast"
Activating terminal broadcast through a key combination could prove very dangerous in certain situations, see previous issue: https://bugs.launchpad.net/terminator/+bug/1872460

[2020-04-25 19:32] JakubVanek commented on #40
I think that changing the default setting value is sufficient to prevent this. Only explicitly changed options are saved in the configuration file (at least so it seems on Ubuntu 18.04), so we don't have to deal with rewriting old profiles where the problematic defaults got saved.

[2020-04-25 20:11] KrzP commented on #24
I experience the same problem for terminator 1.92 on Gnome 3.36.1/Wayland 1.18.0
@fonzinc thanks for a patch

[2020-04-26 13:14] ngosang commented on #2
Since 2020-04-22 ArchLinux is using this package with Python3 in the official repositories.
https://www.archlinux.org/packages/community/any/terminator/
:clap:

[2020-04-26 16:05] yuriw commented on #4
@AdnanHodzic it's taking little time !
@lazyfrosch or @mattrose can you please comment?  At the moment my search does not work at all!

[2020-04-27 20:06] lazyfrosch commented on #4
Please test #43

[2020-04-27 20:17] yuriw commented on #4
@lazyfrosch it works like a charm !
Thank you !

[2020-04-27 20:24] AdnanHodzic commented on #4
@lazyfrosch I can also confirm it works for me :partying_face:  I believe after changes are merged with `master` this issue can be closed.

[2020-04-27 20:25] lazyfrosch commented on #4
Thanks for testing

[2020-04-27 20:25] #4 closed

[2020-04-27 20:33] yuriw commented on #4
@lazyfrosch how long would it take till it can be installed via `apt install terminator` from ubuntu repos ?

[2020-04-27 20:35] lazyfrosch commented on #4
I'm not an Ubuntu developer, or member, I can not publish updates to Ubuntu directly.

Once we have a change to adopt the original Launchpad project, I want to revive the PPAs.

[2020-04-28 16:00] yuriw opened #44 "Search should have a case-sensitive option"
Currently the search functionality is case-sensitive.
Consider  adding an option which would allow to select between `case-sensitive` and `case-insensitive`

[2020-04-28 18:14] AdnanHodzic commented on #4
Ideally changes would first have to be pushed to Debian (Sid), which can be a process of its own. However, even if changes were pushed right now, it would take awhile (if ever at this point to make it into 20.04 release).

Which is the reason why [I was suggesting ](https://github.com/gnome-terminator/terminator/issues/4#issuecomment-617352723)to make Terminator a SNAP.

[2020-04-28 18:19] yuriw commented on #4
With Snap being supported by 20.0 this is a great idea !

[2020-04-28 18:31] dgutov commented on #4
I think the way to update a Debian package is to file a bug report that that request. You could also take a look at the existing reports and maybe reply to some that should already be fixed in the new version: https://bugs.debian.org/cgi-bin/pkgreport.cgi?pkg=terminator;dist=unstable

A snap sounds good too. You could do both.

[2020-04-29 06:17] lazyfrosch commented on #4
Guys, I'm the Debian maintainer, so I will update the package very close to a release. I also published a backport for buster.

Ubuntu works differently, and I can't push updates to there.

I'm going to revive the PPAs in the future, since I now have access to the original Launchpad project.

A snap doesn't make any sense for a terminal emulator, since the application is inside a jail, and only ha

[2020-04-29 06:21] lazyfrosch commented on #24
Interesting problem, thanks for the patch, I will try it out.

[2020-04-29 07:01] lazyfrosch opened #45 "Add distribution info into INSTALL"
You can't really contribute to Wikis on GitHub, so lets move the contents to markdown:

https://github.com/gnome-terminator/terminator/wiki/Distributions
-> INSTALL(.md)

@h-ume contributed some links for FreeBSD:
SVNWeb: https://svnweb.freebsd.org/ports/head/x11/terminator/
FreshPorts: https://www.freshports.org/x11/terminator/
Bugzilla: https://bugs.freebsd.org/bugzilla/buglist.cgi?quicksearch=t

[2020-04-29 12:00] BachoSeven commented on #4
I agree. Snaps also do not respect the user's folder structure for configuration (XDG base directories) which means that plugins and config file would be hardcoded in ~/snap/terminator/current/, I think

[2020-04-29 17:02] yuriw opened #47 "Expose Buffer size on the UI"
Currently buffer size can be set vi `.config/terminator/config` editing, e.g. adding `scrollback_infinite = True` (unsure BTW if it works), but it should be available via the UI

[2020-04-29 17:09] JakubVanek commented on #47
Hi @yuriw,

there is some configuration entry that looks similar, wouldn't it work?
![scrollback](https://user-images.githubusercontent.com/6003171/80624986-caa24080-8a4c-11ea-97f0-987633964dc2.png)

Best regards,
Jakub

[2020-04-29 17:13] yuriw commented on #47
@JakubVanek of cause it will, thx !
withdrawing ...

[2020-04-29 17:13] #47 closed

[2020-04-29 23:11] BachoSeven commented on #38
This is useful also when setting custom dircolors themes

[2020-04-30 01:21] yuriw opened #48 "Question - key bindings for Search"
Is it possible to assign key bindings to perform `Next` ad `Prev` search ?

[2020-05-01 14:08] jehutyy commented on #24
Same problem here on archlinux with terminator 1.91 gnome/wayland. I'm giving a try to the patch.

[2020-05-01 14:53] lazyfrosch commented on #48
Currently <Enter> will jump to the next search, I would expect <Shift+Enter> to go in reverse.

I don't think there are other bindings right now, it requires focus in the search bar

[2020-05-01 16:14] #24 closed

[2020-05-02 09:49] pkzc opened #55 "Turn opaque when in focus"
A configuration option would be nice to have:
When terminator is configured to be transparent, then user can choose:
- always tarnsparent, or
- transparent only when out of focus
The second option would mimic the behavior of cygwin mintty when in transparent mode. (However, there is no choice for mintty: you turn on transparency, and mintty is transparent only when out of focus. But I happen to li

[2020-05-02 16:25] yuriw commented on #48
it'd be nice to have !

[2020-05-02 23:28] mattrose commented on #37
try "terminator -ud" and see if you can find any tracebacks in the debug output.

[2020-05-03 04:59] MortalGoddess commented on #37
I don't see anything using that that looks like a problem. using grep to go through the logs gets only 3 hits for background
`ConfigBase::get_item: ConfigBase::get_item: background_color found in profile default: #300a24
ConfigBase::get_item: ConfigBase::get_item: background_type found in profile default: transparent
ConfigBase::get_item: ConfigBase::get_item: background_darkness found in profile

[2020-05-03 20:16] UnsolvedCypher opened #56 "Open a new tab when last tab is closed"
I think it would be helpful to have an option that would automatically open a new tab once the last tab in the terminal is closed. I always have a Terminator instance hidden in the background that I bring up when I need, and I sometimes close the last tab by accident and I have to restart Terminator. This feature is present in the Tilda terminal emulator as well as some browsers, so I think it wou

[2020-05-04 12:12] nierdz opened #57 "Middle click paste in 1.92"
Since I updated to last release (1.92) from 1.91 the middle click paste is not acting the same way.
Before, I could select text from another window and middle click in terminator pastes this selected text.

This is related to this very commit 42fecfd5c626b964aefb8b08fc18335e9110e36a as when I remove it, it works as usual.

Is this working as intended or is it a regression ?

[2020-05-04 16:11] mattrose commented on #57
Hmm, looks like this code was committed to be able to pass through middle mouse clicks to tmux or other TUIs that did stuff with the middle mouse-click.  It might not be detecting the mouse settings in the TUI application correctly.  I'll take a look

[2020-05-04 17:30] mattrose commented on #57
This is the bug where this was fixed https://bugs.launchpad.net/terminator/+bug/1647507

[2020-05-04 21:00] mattrose commented on #5
I opened https://gitlab.gnome.org/GNOME/vte/-/issues/239 for this.  It should be as simple as setting a background-image css property on the vte terminal window, but for some reason even when that is set and the window is transparent, it doesn't show up.

[2020-05-04 21:03] mattrose commented on #57
Nierdz Can you see if the latest master code fixes the issue.  @lazyfrosch just pulled in a patch from @fonzinc that fixes this issue on wayland.

[2020-05-04 21:13] muraii commented on #1
I used Terminator for years on Slackware and now use it for WSL (1) on my Windows work machine. It's a great project and is a much better fit for how I work than ConEmu, which is nice but _massive_ and the settings feel labrynthine.

@lazyfrosch You mentioned something about starting up a site for it. I am a middling dolt with HTML and CSS but can muddle through and have made my way around a varie

[2020-05-05 07:39] nierdz commented on #57
Thanks @mattrose I didn't see that commit in master.
It perfectly works ! :thumbsup:

[2020-05-05 07:39] #57 closed

[2020-05-05 08:42] lazyfrosch commented on #57
duplicates #24

[2020-05-05 08:44] lazyfrosch commented on #1
@muraii I want a basic website, hosted via GitHub pages. A simple Jekyll site would be fine, basically a short introduction, screenshots and reference to GitHub and Launchpad.

[2020-05-05 08:46] lazyfrosch commented on #56
Nice idea, should be a config option, and the user should still be able to quit via menu then

[2020-05-05 08:48] lazyfrosch commented on #37
Just to verify, can you use transparency in gnome or xfce terminal? Which both should use VTE as well in the backend

[2020-05-05 14:17] MortalGoddess commented on #37
That was it, compositing was disable in my XFCE settings. Thank you for the help.

[2020-05-05 14:17] #37 closed

[2020-05-06 13:02] 5l1v3r1 opened #58 "dbus FileNotFoundError"
[code]

[2020-05-07 10:29] FernandoBasso commented on #1
@muraii Are you already working on the website? I may be able to lend a hand as time permits.

[2020-05-07 18:39] vishhvak commented on #1
@muraii @FernandoBasso, just came across this repo while looking for alternatives to my default Linux terminal, and I'd love to be a part of developing a new website for the revival of this project. Let me know if we can work together on this one.

[2020-05-07 20:01] lazyfrosch commented on #58
This could happen when there is some quirk with dbus.

Can you describe your system and desktop environment?

[2020-05-07 20:04] lazyfrosch opened #62 "Website for Terminator"
As the old website https://gnometerminator.blogspot.com/ is stale and inaccessible for us, I want to host a simple website using github pages.

URL: `gnome-terminator.github.io`

Ideas:
* Simple layout
* Short summary
* Some screenshots, also to be used with AppStream
* Links and references to GitHub

Any other ideas?

[2020-05-07 20:04] lazyfrosch commented on #1
I opened #62 for website discussions, feel free to join there.

[2020-05-08 07:50] thorian93 commented on #1
Any comment on my ticket migration question @lazyfrosch?

[2020-05-08 16:07] #38 closed

[2020-05-08 17:50] mattrose opened #63 "Make a submenu of Layouts in the popup menu."
nbeaver opened up PR #42  and I really like the idea, because layouts are a feature of Terminator that I rarely use and would like to use more, but the feature is not obvious on how to launch new layouts easily.  PR #42 adds a link to the layout launcher in the popup menu, but I think we can go one further, and just have the entry in the popup menu that brings up a submenu of available layouts dir

[2020-05-08 20:22] 5l1v3r1 commented on #58
kali 2020 with linux kernel 5.2. it might be a dbus problem but i still dont understand why sometimes it works , sometimes not. i reverted back to python2 version but same problem occured after. Most probably the script cannot locate the folder and thinks it is deleted. You might make some addition to a temp folder with except rule.

[2020-05-09 08:27] #14 closed

[2020-05-09 08:29] lazyfrosch commented on #58
dbus implementation can be quirky, I've seen another bug where it failed when no dbus was available.

[2020-05-09 08:30] lazyfrosch commented on #63
Just a quick note aside, there is no need to open issues when there is a PR.

Basically a PR is also an issue, you would open an issue when there is no code changed yet.

[2020-05-09 08:56] lazyfrosch commented on #58
Related: https://bugs.launchpad.net/terminator/+bug/1874722

[2020-05-09 08:58] lazyfrosch opened #65 "terminator runs in network namespace only with -u option (dbus)"
Copied from Launchpad: https://bugs.launchpad.net/terminator/+bug/1874722

Terminator cannot be started inside a network namespace.

Running terminator 1.91 on Debian 10 (buster), Kernel 4.19.0-8-amd64 x86_64, Xfce 4.12.4

I generally setup the new network namespace (call it nns1), then I issue:

[code]

terminator can however be run with the -u option:

[code]

[2020-05-09 09:54] lazyfrosch commented on #1
We should only port relevant issues, I try to keep the LP tracker open, while added a note: https://bugs.launchpad.net/terminator/+filebug

[2020-05-09 15:40] mattrose commented on #65
I think we can trap any exceptions from the DbusService() call and treat them as regular errors, rather than crashing out.

[2020-05-09 20:10] FernandoBasso commented on #40
I wonder if another further step regarding these keybinding for “broadcasting” would be to leave only two of them, and instead of three we currently have, they would instead toggle the feature! For instance, `Ctrl-Shift-A` would enable “broadcast all” if disabled the, and disable otherwise. The same for “broadcast group”. This way, instead of users having to remember three keybindings, only two wo

[2020-05-09 21:17] chaudum commented on #4
Unfortunately, I still have the issue of search results not being highlighted. I'm running Debian Bullseye with i3

[code]

[2020-05-09 22:53] lazyfrosch commented on #4
@chaudum are you running git master?

[2020-05-10 00:31] lazyfrosch commented on #45
implemented by #66

[2020-05-10 00:31] #45 closed

[2020-05-10 10:18] dmaphy opened #68 "Crash in paned.py:311"
The issue has been reported at RedHat Bugzilla for Terminator versions 1.91 and 1.92 here: https://bugzilla.redhat.com/show_bug.cgi?id=1830451. I've got some statistics that this has reported more than 10 times via ABRT in Fedora: https://retrace.fedoraproject.org/faf/reports/2907627/, thus we probably should consider diving deeper into that issue.

[code]

More details may be found at https://bug

[2020-05-10 19:16] lazyfrosch commented on #68
Also seen on Ubuntu: https://errors.ubuntu.com/?package=terminator&period=day

[2020-05-11 06:23] chaudum commented on #4
Yes, I've tried with both the git master and the Debian package.

[2020-05-11 06:58] lazyfrosch commented on #4
Can anyone reproduce this?

[2020-05-11 07:25] chaudum commented on #4
Hm, that may have been a false alarm, sorry. It seems to work on `master`, you are right. I had to start terminator from a different terminal (:man_facepalming: )

[2020-05-11 08:54] lazyfrosch commented on #4
@chaudum you always need to make sure to either close terminator, or run the other version with `terminator -u` :+1:

[2020-05-11 12:59] mp3guy opened #71 "Scroll to last executed command"
Sometimes when I run commands that output a lot, I find it difficult to scroll to the top of that output and find where in the scroll back I executed the last command. Is there a way of jumping to the scrollback line where the last command was executed?

[2020-05-12 01:37] mattrose commented on #71
Unfortunately, the terminal itself has no way of differentiating a prompt from any other text that is on the terminal.  Terminal and iterm2 on OSX have a way of marking prompts, and then being able to jump to the previous mark.  This is a neat feature that I just discovered, and, oddly enough, I don't think any other linux terminal is able to do this.  There may be a technical reason for this, but

[2020-05-12 01:51] mattrose commented on #40
I'm really of two minds about this.  One of the selling points of terminator for me is that there are keybindings for just about everything, but...

1.  Broadcast all doesn't seem like that useful a feature to me. (Happy to hear otherwise)
2.  You make a very compelling argument in the original LP bug because there's no visual indicator that the commands you're sending are being sent to every sing

[2020-05-12 03:00] hemberger opened #72 "Option to select "Theme variant""
This is a feature request. Gnome Terminal has an option to select a variant of the system theme:

![image](https://user-images.githubusercontent.com/846186/81633177-f9aba100-93c0-11ea-9474-4b9afb26a953.png)

This has been perfect for me, because I like the "Yaru Dark" theme for my terminals, but "Yaru Light" for everything else.

I realize there are ways to achieve this with CSS selectors, but I t

[2020-05-12 08:58] mp3guy commented on #71
Even just a feature where it can move the scroll bar back to the line you were at when you last pressed Enter would do the trick. I'd thought about the Ctrl-Shift-f option but was really looking for a single keypress option.

[2020-05-12 09:23] wellic opened #73 "Update documentation for manual installation"
I updated code and reinstalled last version from `master.`
[code]
But I got error when starting:

[code]
I found using `git bisect` last good commit `e4cd22b7` after this commit I can't start application.
Could you please check or update `INSTALLATION.md` how to install `terminator` correctly.
I am using `UBUNTU 18.04`.

Now I am using version from good commit:
```git co e4cd22b7```

[2020-05-12 10:38] FernandoBasso commented on #40
I use it once or twice a day to `cd` all shells to a given directory or to change my `PS1` prompt (I have some functions that go from creating very simple `$ ` prompts to full blown ones displaying git and showing a lot of info). It is a feature I use in a similar way in Tmux too.

If you have two or more panes under the same tab, the pane title bars will change color. Perhaps we could work on som

[2020-05-12 14:11] mattrose commented on #72
This might be an easy one for somebody to pick up.

[2020-05-12 14:14] mattrose commented on #73
Can you throw up a github link to that commit?

[2020-05-12 14:27] lazyfrosch commented on #73
according to user:
good: e4cd22b7bd286c62c50b80479344aea1f3a7cd5b
bad: 8ae32539fe13f05b30233c36b93934f964275d24

Haven't tested manual installation yet

[2020-05-12 15:18] mattrose commented on #73
Ah, I was wondering if it had to do with the setuptools integration.

[2020-05-12 19:58] lazyfrosch commented on #73
This is definitely a problem with Python 3.6 or older setuptools.

[code]

The script is generated as a wrapper, and not the whole script is copied:

[code]

[2020-05-12 20:02] lazyfrosch commented on #71
Following prompts will only work when there is some kind of marker. Remembering the scroll position might be tricky...

[2020-05-12 20:14] lazyfrosch commented on #73
Okay this kind of wrapper script actually should work, what I did on Ubuntu 18.04:

[code]

Can you please verify this again, maybe check this `EGG-INFO` directory?

In the older versions `/usr/local/bin/terminator` is a wrapper and `/usr/local/lib/python3.6/dist-packages/terminator-1.92-py3.6.egg/EGG-INFO/scripts/terminator` the script.

[2020-05-12 22:43] ohir commented on #40
@FernandoBasso

This PR is not about removing a possibility to bind. It removes the **default** binding, because this feature is meant for power users only. If you already do know about PS1 you likely will read terminator docs and bind dangerous but useful things for yourself. Novice user may not know about it until after being bitten.

I used it once or twice, then decided that this feature is fo

[2020-05-12 23:04] FernandoBasso commented on #40
Yeah, I understand that, and I agree users are better off if this feature doesn't have a default and so easy-to-type key binding which can be so easily turned on by accident.

[2020-05-13 06:28] wellic commented on #73
Thank you. All OK.

I uninstalled.
[code]

Next, I deleted everything that I found in /usr/local
[code]
I pulled master and installed again:
[code]

Result - succefull
[code]
I think that part of the previous installations disrupted normal operation.

The problem can be closed. I think it would be nice to add in README that in case of a failure during installation, the user has to make sure that t

[2020-05-13 07:02] lazyfrosch commented on #73
I'm thinking about updating the `clean` command, and adding a clearer explanation to `INSTALL.md`

After #70 that is.

[2020-05-13 07:24] wellic commented on #73
Also for ubuntu I added some packages
[code]

[2020-05-13 13:59] egmontkob commented on #71
See also https://bugzilla.gnome.org/show_bug.cgi?id=767230.

[2020-05-13 14:01] egmontkob opened #74 "Reimplement "unfocused dim" using overpainting"
Currently Terminator dims unfocused panels by temporarily setting a different color palette.

This has the following drawbacks:
- Doesn't affect the 16M truecolors.
- Doesn't affect a palette color if it was overridden using the OSC 4 escape sequence, because in VTE the OSC values take precedence over the API ones.
- As per https://gitlab.gnome.org/GNOME/vte/-/issues/242, in a future VTE release i

[2020-05-13 15:50] lazyfrosch commented on #74
TBH I didn't even notice terminator does this until now.

The idea of the feature is nice, but it definitely needs a better implementation!

[2020-05-13 16:53] dnyazali opened #75 "Resize borderless window"
I've upgraded from a quite old version of terminator (v0.98) to the latest available one (v1.91) and want to use the same config as I've previously been using, which works fine! However, I am running into trouble when trying to resize the window.

In my config I've set the "borderless = True"-option which prevents me to resize the "window frame". I did not have the same issue with the previous ver

[2020-05-13 17:02] hemberger opened #76 "Setting PS1 does not update window title"
I have the following in my `~/.bashrc`:
[code]
With this setting, the Terminator "titlebar" and tab title get updated when I change directory, but the window title does not.

![image](https://user-images.githubusercontent.com/846186/81841271-09310400-94ff-11ea-8000-36bb9ecbd375.png)

![image](https://user-images.githubusercontent.com/846186/81841307-177f2000-94ff-11ea-8b82-545d1ef1dbc0.png)

This

[2020-05-13 18:18] mattrose commented on #73
Adding a clean target would be a nice touch, as I tend to run `git clean -fdx` between setup.py commands, but that's not available if you just got an archive, and not cloned a git repo.

[2020-05-13 19:25] lazyfrosch commented on #73
Came upon this extension to setuptools yesterday: https://github.com/pypa/setuptools/issues/1347#issuecomment-387802255

[2020-05-13 19:25] lazyfrosch commented on #76
Welcome @hemberger

[2020-05-14 08:51] Isgleas opened #78 "Broadcast issues additional key to terminals"
When grouping terminals and broadcasting on them, the keys typed on the focused one are keyed twice on the other terminals.

Lets say, if I type `ls` on the main terminal, I get `llss` on the others on the group. The same happens when setting broadcast to all,

Terminator v 1.91 on Opensuse Leap 15.1

![image](https://user-images.githubusercontent.com/3003504/81913676-942dff00-95d0-11ea-8952-bac1d

[2020-05-14 15:40] mattrose commented on #76
I can't reproduce this at all.  I don't think we've touched any of the title changing mechanisms recently, but can you try checking out the latest copy of the repo and try running it there:
[code]
should get you running the latest master.

It won't fix your problem, but it should tell us that we may have fixed it in the latest version.

What os/version are you running?  If you get back to us with

[2020-05-14 15:42] mattrose commented on #78
I believe this has been fixed in master.  Can you try:
[code]
to try it out?

[2020-05-14 15:42] lazyfrosch commented on #76
As said, I have the same problem, but haven't tested if it may be Wayland related. Currently I'm on Xorg.

Investigation pending

[2020-05-14 15:46] mattrose commented on #75
hmm, I'm gonna have to think on this one a bit.  The "borderless" option has likely changed going from gtk2 to gtk3 and I don't know whether we'll be able to get the old behaviour back, tbh.

[2020-05-14 15:48] mattrose commented on #74
Oddly enough this might tie into the background image work as well.

[2020-05-14 16:09] Isgleas commented on #78
I see the same behavior

![image](https://user-images.githubusercontent.com/3003504/81958148-d6296600-960d-11ea-92c1-d23b6e5563d0.png)

[2020-05-14 17:08] mattrose commented on #65
Interesting, I tried to reproduce this on Fedora, but couldn't.  @lazyfrosch do you have a debian 10 env handy that you can test this with?

[2020-05-14 17:22] hemberger commented on #76
Tested with latest master and the issue persists. I'm running stock Ubuntu 20.04.

[2020-05-14 17:29] mattrose commented on #58
I think this may happen when you start terminator from a directory, and then remove the directory, and then try and start a new terminator window.  Just from reading the traceback.  I'll see if I can reproduce this.

[2020-05-14 17:36] mattrose commented on #58
Yep.  found a reliable way to reproduce it:

first, ensure no other terminator instances are running, then do the following
[code]
Then, in the new terminator window that appears:
[code]

et voila!  Traceback.

Maybe if os.getcwd() in the new window code fails, set a path of $HOME. Honestly, it's either that, or ...
just don't cause the conditions that trigger this traceback

[2020-05-14 19:08] yosefrow opened #79 "add or merge Tmux control mode support"
Tmux control mode would allow users to connect terminator to a tmux session.

As I understand this feature has already implemented at https://github.com/manno/terminator .

I added an issue to that repo as well. So maybe the author will respond and look into merging his code into this main repo.

But if for some reason he is not able to do so, I want to at least raise awareness that the feature se

[2020-05-14 19:25] mattrose opened #80 "cwd.get_pid_cwd is a mess."
This should be just a call to the python psutil module, instead it's a load of special case code for Linux, freebsd and sunos, with a call to psutil only if it's available, which it always is because terminator will not run without it.

as far as I know the psutil module works on all the platforms that are already covered by the special case code.

[2020-05-14 19:30] mattrose commented on #79
This looks really good.  Hopefully the user who owns the fork will craft a proper pull request against this repo.  If not, we'll still look at it, but I personally don't use tmux that much, so any guidance you could give would help.  What are people looking for from tmux integration?

[2020-05-14 19:34] mattrose commented on #79
Looking further.  Wow, that's a lot of work they've done.  Hopefully they'd be willing to work with us, as that terminator code is probably missing all the python3 fixes.

[2020-05-14 19:50] lazyfrosch commented on #78
confirmed in my setup

[2020-05-14 19:53] yosefrow commented on #79
@mattrose

TLDR:

I'm sure there are more features that a more advanced user might know about, for me I'm looking for the following:

- full integration with tmux windows/panes representation (resizing, display, mouse integration)
- integration with tmux scroll buffer and os clipboard
- integration with tmux pane/operations (e.g. rotate panes, maximize pane etc)
- ability to connect to local or re

[2020-05-14 20:33] mattrose commented on #79
Thanks.  This was very instructive and it really does sound like something good to have, and according to https://unix.stackexchange.com/questions/189805/what-terminal-emulators-support-tmux-control-mode it's not widely available.  I hope the authors of that fork get in touch, because that would be much quicker than me trying to integrate their code.

[2020-05-14 20:37] mattrose commented on #78
weird, I'm not seeing that either on fedora or my mac, and my mac terminator install is as quirky as hell :)

[2020-05-14 20:39] mattrose commented on #78
![image](https://user-images.githubusercontent.com/65013/81983434-6614e300-9601-11ea-81ab-e8f3f9a85438.png)

[2020-05-14 20:56] yosefrow commented on #79
@mattrose

I hope so as well. As I mentioned I opened an issue on his repo. So I hope he will be in touch soon :)

Also, I forgot to mention one of the most interesting features in tmux, which is the ability to share sessions between multiple clients. This means that one user can start a session and multip people can connect to it remotely (through ssh) or locally and optionally control the sessio

[2020-05-15 04:04] awsms commented on #75
I've always been using the borderless windows since I use terminator, and didn't know you could resize them at some point. Would be a very welcomed feature for the newer releases!

[2020-05-15 11:36] egmontkob commented on #80
Well, instead: Terminator shouldn't peek into the child process's cwd at all, it should rely on the OSC 7 sequence and VTE's corresponding API (`get_current_directory_uri()`) to get the directory.

[2020-05-15 12:58] Gu1nness commented on #1
I am happy to see this project maintained again and will gladly help improving it !

[2020-05-15 15:31] mattrose commented on #80
Yeah, I've actually been looking at that as part of some other stuff.

This was to clean up a *bunch* of ancient crufty code that never gets called anymore.  If we can use the vte API, then we can get rid of the dependency on psutil, and clean up some more.  I'll open a new bug specifically for that.

[2020-05-15 15:41] mattrose opened #82 "Use VTE api instead of python psutil to get cwd."
We depend on the psutil library to get the current working directory, but vte has a, hopefully,  perfectly good get_current_directory_uri() api call that does the same thing (as Egmont pointed out in #80 )

[2020-05-15 15:46] #58 closed

[2020-05-15 16:42] mattrose commented on #75
Hmm, this seems to be a solution https://stackoverflow.com/questions/13638782/resize-borderless-window-with-vpaned-in-pythongtk3

[2020-05-15 19:44] balinbob commented on #1
Hi, I'm on Arch Linux (got lazy actually and moved to Manjaro about a year ago).   I keep up with Ubuntu when I have time.   I've been hacking on Terminator since before you could save your config in any way, and love using it.   Thank you for reviving the project.

I am a hobbyist python coder for years, beginning to learn to use PyLint and hoping to get some of my code posted on PyPi.   I'm not

[2020-05-15 23:16] mckellyln opened #84 "custom key binding question"
Hi,
Thanks always for awesome terminator.
NOT AN ISSUE, just a question -
Is it possible to bind some key combos that dont seem to produce the same esc codes that I'm used to ? In an older terminator version I used a plugin that defined things like:

def ctrl_back(self):
    self.vte.feed_child('\x1b\x7f', 2)
setattr(Terminal, 'ctrl_back', ctrl_back)
and then in the config:

  ctrl_back = <Control

[2020-05-16 00:20] DarthGandalf commented on #38
Thanks for this! I was wondering why sometimes it shows black text on black background.

[2020-05-16 01:34] mckellyln commented on #84
I figured it out.  I forgot to add the leading "key_" to the name.
take care,
-m

[2020-05-16 01:34] #84 closed

[2020-05-16 02:36] #80 closed

[2020-05-16 07:51] DarthGandalf opened #85 "There are still translation commits to launchpad"
Instead of here.
E.g. http://bazaar.launchpad.net/~gnome-terminator/terminator/trunk/revision/1779

[2020-05-16 15:09] mattrose commented on #85
I think there's a launchpad translation team that adds translations semi-automatically, but I have no idea how that works.  It's one of the reasons I didn't want to move the .po files in #13.  I have no idea if we can ask them to commit to github rather than launchpad, or if there's a way to automatically transfer those to Github PRs.  It's a valuable service, I think.

[2020-05-16 19:25] mattrose commented on #82
Looking at PR #87 we actually use the vte api if it's available.

[2020-05-16 19:25] #82 closed

[2020-05-16 19:44] mattrose commented on #65
Also tried on debian 10 (I found a VM lying around on my laptop) and the same command also worked there.

There might be improvements in the newer kernel or ip netns stack that have fixed this.  I say we close this bug.

[2020-05-17 09:36] Hiro527 opened #89 "If I save windows layout, terminator will be fullscreen when it start"
Version: 1.91
Linux Debian arm64

If I save window layout on settings, it will be fullscreen when it start .
I checked fullscreen option in ~/.config/terminator/config of layout section but it was False.
If I delete that section, it wont cause. I wanna use my own layout but i cant...

[2020-05-17 13:07] DarthGandalf commented on #85
There are 2 parts of it:
* generating .pot from sources and uploading them to somewhere, and it's not launchpad, because https://translations.launchpad.net/terminator is empty
* commiting updated .po back to source

I tried to find where the translations are done for terminator, but couldn't find the place.

For ZNC I configured it with combination of Crowdin and Jenkins: https://github.com/znc/zn

[2020-05-17 15:14] lazyfrosch opened #90 "Introduce and document Transifex"
I created a Transifex organization, this should help with future translation efforts.

https://www.transifex.com/terminator

- [ ] Add documentation
- [ ] Add badge and info to README/Contributing
- [ ] Add links to about

[2020-05-17 15:14] lazyfrosch commented on #85
I disabled Translations on Launchpad the day I got access. Those old commits will be merged in a PR.

For the future we will use transifex, introduction and documentation pending with #90

[2020-05-17 15:18] #85 closed

[2020-05-17 15:18] DarthGandalf commented on #85
Ah, cool!

[2020-05-17 19:24] kornicameister commented on #1
Count me in!

[2020-05-17 20:52] lazyfrosch opened #93 "Release summary for 2.0"
TODO

## Package maintainers

With pull request #70, we removed the need for gettext binaries and switched to Python Babel.

* `gettext` and `intltool` packages are now no longer needed
* Python package `babel` is now required for building, `BabelGladeExtractor` only for updating POT

[2020-05-17 22:19] #13 closed

[2020-05-18 02:01] mckellyln opened #95 "ubuntu 18.04 Install ok but no desktop icon"
Hi,
I tried a cold install on ubuntu 18.04 and it installs, and works, but the icons and desktop do not seem to be in the correct location for the OS/gnome to find the application.
Any ideas ?
thx,
-m
[code]
[code]
then
[code]

[2020-05-18 06:44] lazyfrosch commented on #95
Yeah that can be quite tricky and needs to be reviewed

[2020-05-18 09:04] alcir commented on #24
While middle click works on Fedora 31 with terminator-1.92
The same issue is still present on Fedora 32

[2020-05-18 11:44] ClaudiuPID opened #96 "Ubuntu 20.04 split terminal broadcast duplicate keys"
If I split a terminal and group it for broadcast I get normal keys sent selected terminal and duplicate keys to the secondary terminal.
I found 2 possible solutions but none of them worked for me:
[code]
Am I the only one experiencing this issue?

[2020-05-19 03:26] sky-and-sand commented on #1
is there a snap package for it or Solus port?

[2020-05-19 10:08] egmontkob opened #98 "Why we use python in shebang"
I recommend to change `#!/usr/bin/env python` to `#!/usr/bin/env python3`.

Terminator now works fine with python3. Python2 has EOLed.

For a couple of years going, distributions will probably still ship both versions, and it's going to be a mess whether `python` points to `python2` or `python3` on various systems.

So, referring to `python` means that the project needs to keep supporting and test

[2020-05-19 12:49] GrigLars commented on #1
I am a heavy user of Terminator since I discovered it in 2014.  I didn't realize it was in so much jeopardy. Sadly, I am not that strong a programmer. But I am a great administrator and can help with English documentation, if you need it.  I have been waiting to attach onto an open source project for a while now, since it's been assuring me a decent job since the 90s.  Time to give back to the com

[2020-05-19 13:34] mattrose commented on #98
This should be covered by the setup.py install routine as part of the package installation.  I'm not sure who's in charge of the Ubuntu package, but I just installed a fresh version of ubuntu 20.04 so I can check that out.  I know python 2 is EOL and unsupported, but there are still a lot of environments where it's still critical, so we're still trying to stay compatible with it for now.

[2020-05-19 13:47] b00f commented on #1
@lazyfrosch have you ever think about changing the name? Arnold was the last Terminator!

[2020-05-19 13:51] mattrose commented on #98
Just checked ubuntu 20.04 from fresh install, and it worked fine.  I think that if the ubuntu package requires python3-configobj and it's not installed, the ubuntu package should install it as a dependency.

[2020-05-19 14:28] egmontkob commented on #98
I didn't run setup.py, I just ran `./terminator` from the checked-out tree. This used to work up until recently. If you say it's no longer supported, that's fair.

This shouldn't be about python2 being installed or not. This should be about python3 and only about python3.

Are there really systems where a new enough (what's the exact version requirement?) python3 isn't available, but it's importan

[2020-05-19 15:03] freud14 opened #99 "When opening a new window, terminator automatically switch to the last tab of the first window."
Hi,

When I already have a terminator window opened with multiple tabs, if I open another window of terminator, the tab of the first window switches to its rightmost tab. I searched on Google and strangely found no bug report about that. I'm using Gnome on Ubuntu 20.04.

Steps to reproduce:
1. Open a terminator window
2. Open a new tab in the terminator window opened in 1.
3. Switch back to the fi

[2020-05-19 15:07] lazyfrosch commented on #98
This is all about best practices, the scripts are meant to be run in a development environment, such as virtualenvs. There `python` is an alias or symlink, which points to the correct Python binary.

When you want to use a Python tool outside of a development environment, you should always install it. And there you can pick `python3` to do it. All installed scripts will have the correct shebang.

[2020-05-19 15:11] #98 closed

[2020-05-19 15:11] lazyfrosch commented on #24
@alcir The fix is not released yet, please check the milestone and compare to your local version.

[2020-05-19 15:13] lazyfrosch commented on #1
@sky-and-sand There is and will not be a snap, it doesn't make sense, since a terminal emulator should give you access to your local system, not a container with just your home directory.

[2020-05-19 15:14] lazyfrosch commented on #1
@b00f Why should I change the name if it is well known to many users? There is nothing offensive to the name...

[2020-05-19 15:24] egmontkob commented on #98
As per the link you provided, you do this so that it doesn't matter whether it's `/usr/bin/python` or `/usr/local/bin/python` or `/opt/python` or `/home/joesmith/python` etc. Yup the `/usr/bin/env python` trick is the well-known solution for this problem. But it's not related to picking the proper one of python2 vs. python3.

Look, it's your project, your decision. But maintaining python2 support

[2020-05-19 15:27] lazyfrosch commented on #98
Hard coding `python3` is not a good idea as well. I mentioned it in the documentation now.

[2020-05-19 15:37] thorian93 commented on #1
I would argue it is quite the opposite. It is a nice little play on words while also giving a hint on the power of this tool. To me the name is quite the best one imaginable. And as you said: It is well known.

@b00f: I seem to reckon a joke from you, so don't get this wrong, but I am quite sure there will be little to now support for changing the name.

[2020-05-19 16:44] mattrose commented on #89
Can you try installing the latest version (I think 1.92 is available from the debian repos), or master, and see if you can reproduce it with the latest version?

[2020-05-19 23:52] Sarke opened #101 "Easier install and updating"
Any plans for a Snap/Flatpack or a deb repo?

Many users won't build from source.

EDIT: I thought https://launchpad.net/terminator/ was obsolete, is it still being pushed to?

[2020-05-20 13:12] lazyfrosch commented on #101
How would a sandbox package work for a terminal emulator? It won't give you access to anything outside of your HOME, not even let you install packages or run sudo...

PPAs are closed for now, the LP project is merely kept for reference now.

[2020-05-20 13:21] lazyfrosch commented on #101
You would have to SSH to your own system via localhost.

[2020-05-20 15:03] mattrose commented on #101
Terminator is still being distributed in prepackaged form for most OSes, on linux it's as simple as "apt install terminator" or "dnf install terminator"

[2020-05-21 19:59] lazyfrosch opened #102 "Remove gtk-update-icon-cache handling in setup"
I don't see a reason why we should generate the cache like this, its even bad for packages. So (package) maintainers should disable it.

Debian:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=959856

[2020-05-21 22:35] doisyg opened #103 "Ubuntu 20.04 drag and drop crashes"
When drag and droping a file in terminator, it crashes instead of pasting the path of the file.
Works on the classic terminal

[2020-05-22 00:25] mattrose commented on #103
this was fixed in PR #54

[2020-05-22 00:26] #103 closed

[2020-05-22 15:57] mattrose commented on #101
There is a gnome-terminator snap on snapcraft.io that somebody uploaded, and it ... kinda works, but hasn't updated to 1.92 yet.  I'm not sure who is maintaining it, so I'm not sure how to get them to update to the code on github.

[2020-05-23 08:47] Sarke commented on #101
I would much prefer an official deb repo, or even an official snap / flatpak.  Not sure I would trust an unofficial build in a snap.

Yes, but are they building those from this github code?

[2020-05-23 09:09] lazyfrosch commented on #101
Many of them already have 1.92 in their current version:
https://github.com/gnome-terminator/terminator/blob/master/INSTALL.md#distributions

Of course you are free to reach out and point maintainers to our new project home.

[2020-05-23 09:21] Sarke commented on #101
Perfect, that's what I was looking for.  Keep up the good work!

[2020-05-23 09:21] #101 closed

[2020-05-25 11:39] slaweet opened #106 "Allow to open layout in a new tab"
By default, a new layout (from `alt+l` window) open in a new window. I prefer to have all terminator in one window, so it would be very useful to be able to open a new tab with a given layout. E.g. `ctrl+alt+l`, or from the context menu (similar to https://github.com/gnome-terminator/terminator/issues/63 )

If this is already possible, then I couldn't find it in docs.

[2020-05-25 13:50] mattrose commented on #106
It's a good idea, but we'd have to be able to differentiate between layouts that contain windows and ones that are just panes.  We can't currently do that, but I think it's possible.

[2020-05-25 13:54] mattrose commented on #96
duplicate of #78

[2020-05-25 13:54] #96 closed

[2020-05-26 08:53] slaweet commented on #106
Oh, I didn't know that layout can contain multiple windows. Can a layout also contain multiple tabs? That would help in my situation as well (maybe even better).

[2020-05-27 11:52] k-dannemand opened #107 "Add support for tmux integration (like iTerm2)"
Dunno if this is the right place for this, but i still really like to see this.

https://bugs.launchpad.net/terminator/+bug/1301605

[2020-05-27 15:50] nmehta001 commented on #4
I have version 1.92, directly from fedora repos and I have this bug

[2020-05-27 16:59] jjrsylvestre commented on #24
Would you consider making a minor release to push this fix out to distributions? The bug is pretty annoying when you are used to the muscle memory of quickly selecting-then-middle-clicking, but forget about the bug,  then something completely unexpected gets pasted into your terminal...

[2020-05-27 20:05] mattrose commented on #107
Duplicate of #79

[2020-05-27 20:05] #107 closed

[2020-05-27 20:23] mattrose commented on #4
The fix may not have made it into fedora yet.  I'll double-check and try and pull the fix in if it's not there.

[2020-05-27 23:42] bjfar opened #108 "Option to prevent accidental closing of tabs"
Surprisingly often I find that I accidentally close a tab where I am working in vim or some such, and lose work as a result. It would be nice if I could turn on a "safety" option somewhere that would cause an "are you sure" dialog box to appear, similar to what happens when you attempt to close a window containing multiple tabs. I understand this might annoy people so having it off by default woul

[2020-05-28 12:15] ameiji commented on #99
I have the same issue.
When I start a new instance of terminator, by a hotkey from gnome shell, an already opened termintator window switches to it's last tab.
Contrarywise, if I issue a "new_window" command by terminator's hotkey, this tab switch doesn't happen.

[2020-05-28 12:23] freud14 commented on #99
Yes indeed.

[2020-05-28 15:23] mattrose commented on #99
Ah, I was wondering why I couldn't reproduce this earlier, as I always open a new window in terminator.  I'll see if I can do it some other way.

[2020-05-28 21:34] ohir commented on #108
Simply add to your global config `close_button_on_tab = False`

*This option is avaliable since at least 0.9x.*

[2020-05-29 13:17] mattrose commented on #108
@bjfar will this work for you?

[2020-05-30 09:07] bjfar commented on #108
Ah great, certainly that sounds fine! It's just rogue mouse clicks that
bother me, I never accidentally closed a tab via the keyboard, so removing
the close button sounds good. I'll give it a try.

On Fri, May 29, 2020, 11:17 PM Matt Rose <notifications@github.com> wrote:

[2020-05-31 14:50] mattrose commented on #108
All right I'll close this.  Feel free to reopen if you're still having problems

[2020-05-31 14:50] #108 closed

[2020-06-02 01:13] mattrose commented on #65
I'm gonna close this.  I'm pretty sure that this is fixed now with PR #88

[2020-06-02 02:46] mattrose commented on #65
whoops, haven't actually merged that yet.

[2020-06-02 02:50] mattrose commented on #106
Yep, layouts can contain any combination of windows tabs and panes.  The way you set it up is a little weird, but basically you go to layouts, add a new layout then open up all your windows the way you like, then select that new layout and hit save.

[2020-06-02 02:51] mattrose commented on #106
If this works for you, feel free to close the issue.

[2020-06-02 06:51] slaweet commented on #106
Thank you @mattrose, very helpful tip on setting up layouts :+1:
So tabs is `type = Notebook` in `/.config/terminator/config` :bulb: :smile:

[2020-06-02 06:51] #106 closed

[2020-06-02 15:01] mattrose commented on #29
Going through old issues and I saw this and I think I was getting confused between this issue and some of the commits in #46 that actually, as far as I can tell, enable the alt-scrollwheel behaviour you're looking for.  Would you be comfortable putting those together into a pull request and link it against this issue?  I would do it myself, but I think that you would be able to get the behaviour y

[2020-06-02 15:14] srt0 opened #111 "Adjust Line Height"
It is really necessary to have the option to adjust the line height. To me its really compact right now. But as a terminal, Terminator is awesome!

[2020-06-02 15:44] mckellyln commented on #29
Thanks.  I have not (yet) been able to find where in gtk/vte/gnome the alt+wheel is configured - in order to change/disable it - but we can, as shown before, at least scroll as tho alt was not pressed with some small changes.  I can issue that PR.  We can also close this as its sort of understood its not a terminator specific issue.
thx,
-m

[2020-06-02 19:52] mattrose commented on #29
I feel your pain.  I'm running terminator on a mac most of the time and the quartz backend support with vte and GTK is ... a little bit spotty and tracking down keypress behaviours is super-painful.  I'll close the issue, but would still welcome a PR.

[2020-06-02 19:52] #29 closed

[2020-06-02 19:54] mattrose commented on #111
I'm having a little trouble understanding your request, can you give an example of another terminal program that does this, and how it's configured?

[2020-06-02 19:57] mattrose commented on #99
I've been playing around with this and I've figured out why this is happening.  Basically when you issue terminator from a command, it assumes it's starting from scratch each time, so it automatically goes to the first tab on any window with multiple tabs.  Now I just have to figure out how to stop it from doing that...

[2020-06-02 19:58] mckellyln commented on #29
ok, cool

[2020-06-02 23:46] mattrose commented on #40
Thanks for the feedback @FernandoBasso.  Given that there is a way to trigger "broadcast all" through the titlebar menu I don't think there's much harm in removing the default keybinding.  The feature is visible regardless.

[2020-06-02 23:54] #40 closed

[2020-06-03 09:47] Isgleas commented on #78
I have found this issue happens if I'm on KDE Xorg, it does not show neither on KDE Wayland, Gnome Wayland nor Gnome Xorg. I have tried modifying some of the keyboard related env variables but none of them seem to affect
![image](https://user-images.githubusercontent.com/3003504/83621751-60bb1080-a58f-11ea-8a6f-8f15fb884084.png)
![image](https://user-images.githubusercontent.com/3003504/83621931-9

[2020-06-03 09:47] Isgleas commented on #78
Closed it by mistake

[2020-06-03 15:46] mattrose commented on #5
Unfortunately vte has disabled the background-image css property so we have to do some work with GDK.Window::draw to enable it again, Like Tilix has and, IIRC, XFCE-terminal has done.  This is definitely not my area of expertise, so any help with this would be greatly appreciated.

[2020-06-03 18:51] mattrose commented on #78
Well, this was an adventure. It turns out that it wasn't the environment variable that changed, but actually the internals of the python psutil module, which meant that we weren't actually detecting whether or not ibus was running, and consequently never setting the proper ibus environment variable.

Can anyone who has encountered this bug please check out the PR and test it?

[2020-06-03 18:56] mattrose commented on #111
You're in luck!  VTE has support for this (Egmont added it a couple of years back) so it shouldn't be too hard to add in to Terminator.  I will investigate further.
https://gitlab.gnome.org/GNOME/vte/-/commit/26c79c6dc93aae4d4f787f36b594cac151df0f07

[2020-06-03 19:00] Isgleas commented on #78
Setting the environment variable seems to fix the broadcast issue, but some shortcuts, not all, start working funny, like triggering an emoji list menu

![image](https://user-images.githubusercontent.com/3003504/83677903-29735080-a5dd-11ea-8b60-7845b9f80a38.png)

![image](https://user-images.githubusercontent.com/3003504/83677455-7d316a00-a5dc-11ea-8f53-42a4a671cfbb.png)

[2020-06-03 19:12] Isgleas commented on #78
PR114 seems to work, great!
![image](https://user-images.githubusercontent.com/3003504/83678882-bf5bab00-a5de-11ea-9fd1-f28f6dc26490.png)

[2020-06-03 19:12] mattrose commented on #78
Great, I'll pull this in soon.  Thanks for testing it out so quickly.

[2020-06-03 19:55] srt0 commented on #111
Awesome! Can't wait to use Terminator as my default terminal again.

[2020-06-03 22:53] arshbot opened #115 "conflicting UUID when cloning layout"
terminator 1.92
arch 5.6.15

### Steps to reproduce:

1. Open terminator for first time.
2. Adjust arbitrarily and create a new layout based on adjustments
3. Clone layout and rename layout.
4. launch layout with `terminator -l my_layout_name`
5. terminator will launch without provisioning shell

### Relevant information:

In original terminal client ( from where you ran `terminator -d -l my_layou

[2020-06-03 23:07] arshbot opened #116 "How to add a transparent blur to the background"
Transparency blurs are really cool, how can I get my terminator client to add a variable blur so I can't quite make out the background?

[2020-06-03 23:44] mattrose commented on #116
The closest thing I can think of is in the preferences window there's an option to shade the transparent background.  I don't know whether GTK or VTE supports a blurring effect.  If you have any ideas on how to do that I'd love to hear that.

[2020-06-03 23:53] mattrose commented on #115
Two things.
1.  Can you try this with the changes in the latest master?  I checked in a change yesterday that should be able to rescue from generic dbus exceptions.
2.  How are you cloning the layout?  It doesn't surprise me that dbus is complaining about duplicate UUIDs, because you're specifying the same UUID in each layout.  Try removing the `uuid = bd9be6f8-8768-4715-9c4d-8d32bd4ead30` from th

[2020-06-03 23:55] mattrose commented on #115
Also, it's nice to see somebody that's taking advantage of the configuration flexibility 😄

[2020-06-07 03:25] SneaKoa opened #117 "Strange character (edited to keep it clean)"
Hello,

I upgraded my fedora (31 to 32) and now it have only one big issues with terminator that i can't find how to correct.
I have weird character at the place of normal character, every are now little cube with an the unicode of the character.

Everything look to work anyway i can still exit or clean the tab, even do a ls with everything character write in a box and inside the unicode.

Thank y

[2020-06-07 03:25] SneaKoa commented on #117
If you need more info i can send screen shot but i can't send them here, idk why

[2020-06-08 21:10] mattrose commented on #117
Wow.  What language do you have set?
Also, it would greatly help if you could send a screenshot, maybe find a place to put a screenshot on another website and link to it here?

[2020-06-08 21:19] mattrose commented on #115
Hmm, right-click preferences menu works for me.  If you were able to clone the layout with the UUID with the add button in the layout prefs that would be a problem.  I'll take a peek at that when I get the chance

[2020-06-09 04:30] protist opened #118 "On toggling visibility, window reverts from multi-monitor span"
## Steps to reproduce
1. Resize window to span across multiple monitors
2. Hide terminator using the `hide_window` keybinding
3. Show terminator again using the same keybinding

## Expected results
Window should be the same size and in the same position as before. (This occurs as expected if the window was originally wholly contained in a single monitor in step 1.)

## Observed results
Window is m

[2020-06-09 11:37] gforcada opened #119 "Support desktop dark/light theme"
*I've seen https://github.com/gnome-terminator/terminator/issues/72 so if that's sort of the same, feel free to close it :)*

I'm a big fan of the dark/light theme changing the whole desktop (firefox, nautilus, etc etc) and I usually switch between two themes on terminator, so for my use case, it would be great that one could set a light theme and a dark theme on terminator and for the tabs with t

[2020-06-10 13:42] uffejakobsen opened #120 "Putty style paste makes it impossible to reach preferences"
Putty style paste makes it impossible to reach preferences

When putty style paste is enabled it is impossible to get into preferences (prefs) as it requires right click

This could be solved by adding a configurable hot key for opening Prefs and/or having access to prefs from the dropdown in the title bar

[2020-06-10 13:43] UffeJakobsen opened #121 "Feature request: configurable shortcut to open Prefs"
It would be nice wuth a configurable shortcut to open prefs window

[2020-06-10 16:10] uffejakobsen opened #122 "Feature request: show bold text in bright colors (option)"
Feature request: show bold text in bright colors (option)

Basically a clone of the coloring checkbox option that both xfce-terminal and gnome-terminal has

PS: thanks for kicking life into this project again :-)

[2020-06-10 23:59] mattrose commented on #122
Duplicate of #38 and fixed in master thanks to @JakubVanek #39

[2020-06-10 23:59] #122 closed

[2020-06-11 00:06] #121 closed, assigned to nobody

[2020-06-11 00:09] mattrose commented on #120
the context key on your keyboard usually works, but I kinda agree with this.  One of the things I was thinking of doing was moving to a GTK headerbar like gnome-terminal has, and add a button to access the popup menu to that.

[2020-06-11 01:46] mattrose commented on #119
Same as #72

[2020-06-11 01:46] #119 closed

[2020-06-11 01:56] mattrose commented on #118
I don't really have the setup to reproduce this one.   It sounds like it may be a window manager problem.  Can you reproduce this under GNOME?

[2020-06-11 03:00] mattrose commented on #111
@srt0 do you want to try out the associated PR?  I haven't wired in the preferences dialog yet, but you can try it out by following the instructions in the PR

[2020-06-11 03:06] mattrose commented on #65
merged now

[2020-06-11 03:06] #65 closed

[2020-06-11 06:34] protist commented on #118
Thanks @mattrose.  I installed GNOME (I feel dirty), and I can reproduce this issue there too.

FWIW I also installed a bunch of other terminals with a "toggle-visibility" setting, and I can confirm that Tilda correctly spans multiple monitors after a toggle-visibility cycle.

I couldn't properly test the others I installed (which also reinforced how good Terminator is!):
* Guake: the size is set

[2020-06-11 14:22] uffejakobsen commented on #120
Sounds like at good idea.
Also not all keyboard does not seem to have a context key

[2020-06-11 14:26] srt0 commented on #111
@mattrose It works! :)
![terminator-test](https://user-images.githubusercontent.com/10282404/84398494-d70be280-ac21-11ea-9703-9ec1cdf9d255.png)

[2020-06-11 14:32] uffejakobsen opened #125 "align maximize option spelling with gnome-terminal"
terminator has the maximize option spelled differently from gnome-terminal (and xfce-terminal)

maximise (UK) versus maximize (US)

[code]

As a drop-in replacement for gnome-terminal it would be nice if the most used cli options were somewhat in sync.

As terminator is already released with --maximise option one solution could be to recognoze both --maximise and --maximize options ?

[2020-06-11 15:17] mattrose commented on #118
Thank you so much.  I didn't want you to feel dirty, but it will make trying to reproduce this so much easier.

[2020-06-11 15:18] mattrose commented on #120
True that.  My macbook doesn't have one.  I have some code that I may publish on my fork to get more feedback for the headerbar idea.

[2020-06-11 15:21] mattrose commented on #111
Awesome!  Thank you so much for trying it out.  Getting the UI around it right is going to be tricky, because what you put in there is ... not really intuitive:  "A float between 1.0 and 2.0".  I'm probably going to add a slider like the transparency one.

[2020-06-11 15:23] mattrose commented on #125
Where we have the same features as gnome-terminal, we want to match gnome-terminal as closely as we can, this shouldn't be too hard.

[2020-06-11 15:26] mattrose commented on #125
If anyone wants to take a crack at this, it should be just copying and pasting the maximise option in `terminatorlib/optionparse.py`

[2020-06-11 15:36] srt0 commented on #111
I usually use 1.3. It was set to 2 just for the screenshot :)

[2020-06-11 15:40] mattrose commented on #111
Yeah, the main reason I put in that PR in it's unfinished state was honestly so that you could use it right now, and it'll give me time to come up with a UI for a user that's not familiar with that feature to play with it intuitively.

[2020-06-11 18:43] #125 closed

[2020-06-11 23:44] planet36 opened #127 "update dependencies in INSTALL.md"
`uname -mrsv`

`python --version`

I'm trying to make terminator work on a minimal Ubuntu installation (Ubuntu Server 20.04).
After installing the dependencies listed in INSTALL.md, there were a couple missing.

- python3-cairo
- gir1.2-vte-2.91

Not sure if this is also needed

- python3-gi-cairo

[2020-06-12 08:32] agagliardi opened #128 "Fails to run for LDAP user"
On RHEL 7.6, installed using SNAP. 1.9.1-beta

[code]

https://github.com/gnome-terminator/terminator/blob/a762bb9ff0445558518aabbc30e7bba39100668d/terminator#L59

Maybe should be used getpass.getuser() instead

[2020-06-12 21:32] mattrose commented on #128
the python pwd library should just be doing the equivalent of `getent passwd xxxx` and NSS should be taking care of the actual call to LDAP and exposing it to terminator.  I seem to recall that there were problems with this with redhat specifically, and this article title https://access.redhat.com/solutions/3894191 kinda solidifies my suspicions, even though I can't read the full article.  This co

[2020-06-13 08:53] SCCOBN opened #129 "Custom color palette not being memorized"
This is an easily reproducible bug, click preferences, profiles, colors, configure custom color palette. I like colors from manjaro distro on my arch. Then close everything. Next time you visit same location in preferences, you will see that your color scheme will be Linux, instead of custom.

However, if you select custom again, without configuring each color, you will have your colors that you c

[2020-06-14 02:59] mattrose commented on #99
Investigated some more this evening and confirmed that if you use the command `remotinator new_window` rather than `terminator` to open a new window the problem doesn't happen which means it's definitely how the terminator script spawns the window.  Unfortunately, the way the terminator script spawns the window is a mess.

[2020-06-14 19:05] freud14 commented on #99
Hi, I investigated a bit. It seems that terminator calls the [`new_window_cmdline`](https://github.com/gnome-terminator/terminator/blob/master/terminatorlib/ipc.py#L69) method in the DBus service whereas reminator calls the [`new_window`](https://github.com/gnome-terminator/terminator/blob/master/terminatorlib/ipc.py#L89) method which absolutely does not do the same thing as the former. I think it

[2020-06-15 12:30] mattrose commented on #99
OMG, you're now officially ahead of me on this one Thanks!  I took a break over the weekend, but I'll look into this soon.  I'll have to chew on this to figure out if `ensure_visible_and_focussed` does the right thing, and where else it's used, if anywhere.

[2020-06-16 01:23] mattrose commented on #99
You were on the right track.  I actually did pretty much the same thing as you did, but removed a **whole** bunch of other code at the same time.

I think it was cycling through all the open tabs to make sure they they had `last_active_term` set.  That's the only reason I can think of to do that.

[2020-06-16 01:39] freud14 commented on #99
The impression I have is that in the case where multiple windows are opened at the same time, you may want them all to be displayed to the user. So maybe this is what this code is doing?

[2020-06-16 07:50] agagliardi commented on #128
I can read it. It's because SSSD `enumerate` is false by default and there is some trade-off in enabling it, take a look at the man page https://linux.die.net/man/5/sssd.conf .

[2020-06-16 07:51] agagliardi commented on #128
I've installed the same version from EPEL repository and it works.
Maybe it was just something about lib deps or permission.
Sorry to bother you.

[2020-06-16 07:51] #128 closed

[2020-06-16 14:48] mattrose commented on #111
Putting a call out for somebody with more glade experience than I do.  Can somebody take a look at  this and see if they can add a slider on the profiles->General pane for values between 1.0 and 2.0 in increments of .1 for the `line_height` configuration?  I am having all kinds of bad luck with glade and I just want this to be done.

[2020-06-17 01:17] #115 closed

[2020-06-17 18:43] mattrose commented on #129
Looked into this a bit.  The prefs pane appears to save the palette in `.config/terminator/config` just fine.  I think the problem is that the preference pane doesn't ever reload the new config file until you restart.  Can you try reproducing the problem, except, after you close everything, make sure there are no terminator instances running?

[2020-06-17 18:45] mattrose commented on #89
I couldn't reproduce this, and I haven't heard back.  I'm going to assume this is fixed.  If not, please reopen.

[2020-06-17 18:45] #89 closed

[2020-06-18 08:19] mareksamec opened #133 "Terminator separator size cannot be changed"
In the past there was an issue where the separator could not be changed and was stuck to about 6px. Now it seems that no matter what value I set (from the range of -1 to 20) the separator width always remains 1px.

Here is the link for the previous issue reported on launchpad:
https://bugs.launchpad.net/terminator/+bug/1518069

**Some version info:**
terminator 1.92
GTK version 3.24.20
5.6.15-arch

[2020-06-18 09:01] pratik705 commented on #4
is the issue fixed for fedora? I am unable to use it on Fedora 32 with "terminator-1.92-3.fc32"

[2020-06-18 14:47] robertoetcheverryr commented on #120
When you set PuTTY style paste, the middle button takes the role of menu-opener... You also have Shift + F10 to open the menu.

[2020-06-18 14:59] robertoetcheverryr opened #134 "PuTTY style paste is pasting from x-selection instead of clipboard"
Kali Linux 2020.2
Terminator 1.92-2
After setting PuTTY style paste, the expected behaviour is for the right-click to paste the clipboard content (that is how PuTTY works after all) yet Terminator is pasting the context of the x-selection/PRIMARY instead.
I have selected the option to copy on selection to also mimic PuTTY's copy-on-select.

A quick overview of the code seems to point to terminal.p

[2020-06-18 15:29] mattrose commented on #133
@mareksamec do you know if the patch in the original LP bug has been applied, or can be applied cleanly?

[2020-06-18 15:31] mattrose commented on #134
I'll take a look at this.  You're absolutely right about it not following putty, but I'm hesitant about changing behaviour (however misleadingly named) that's been established for so long.

[2020-06-18 16:11] robertoetcheverryr commented on #134
I have done mostly command-line apps and have little experience with GUI (and even less with Linux GUIs) but I forked the code to see if I can familiarize myself with the GUI part and add the relevant toggle.
Maybe to add an option to the config file and the corresponding checkbox or toggle to the pref editor, keeping the current default, could be the no-impact solution?
Something like
putty_paste

[2020-06-18 16:15] robertoetcheverryr commented on #24
@jjrsylvestre I have an issue with pasting as well and, since this is Python, I modified my own code to suit my needs while the issue is debated and a fix proposed. Unless you are running Terminator on multiple installations, changing 3 lines might be a good solution.

[2020-06-18 16:33] jjrsylvestre commented on #24
@robertoetcheverryr Hey thanks! I didn't think of checking the fix commit, you're right it was pretty simple to apply by hand.

[2020-06-19 00:20] mattrose commented on #134
Funny you should mention that.  None of the other current maintainers have much experience with GUIs and got their start with terminator by forking and poking at the code, much like you have.  See #111 for a stunning example from yours truly 😄   I will take a look at it and see if I can add a checkbox for this, but any help you can offer would be greatly appreciated and will get your name in the c

[2020-06-19 05:23] robertoetcheverryr commented on #134
Well, done and done. Pull Request #135 ready for review.

[2020-06-19 13:37] mattrose commented on #134
Thank you so much for this.  The tests seem to be failing for an unrelated reason, so I'll try to debug that first and there might be a delay in merging, but it will get merged.  Thanks again

[2020-06-19 20:44] mattrose commented on #134
Merged.  Thanks so much for contributing.

[2020-06-19 21:04] #134 closed

[2020-06-19 23:25] robertoetcheverryr opened #137 "Errors in prefseditor.py"
Loading the Terminator project onto PyCharm for the last issue I raised notified me of a lot of PEP style problems but more importantly, I found a bug:
prefseditor.py:
[code]
If you select Escape Sequence it fails to apply the option and save the config. It's a simple case of fat fingers putting a double = and turning an assignment into an evaluation.
Are there any cleanup/style or other tasks tha

[2020-06-19 23:31] mattrose commented on #133
To answer my original questions:  Maybe, and definitely not.  That is not the problem though.  The problem is that the css property that we were exposing was deprecated as of GTK 3.20.  With a little help from the #python irc channel in the gnome IRC server I was able to figure out a fix, I just have to implement it outside of the GTK inspector now:

The CSS is:
[code]

[2020-06-19 23:55] mattrose commented on #137
There are a **lot** of cleanup items that need to be done.  @lazyfrosch and I just took over the code in March, so, personally, I've just been spelunking into the code and trying to wrap my head around it all.  I've got a pretty good handle on it now, but I haven't really compiled a todo list of cleanup items yet.

I would absolutely love pull requests for any improvements you can see, and I tend

[2020-06-20 23:14] aplatypus opened #139 "No Text Display on Ubuntu r20.04"
**PROBLEM**:

* Running Ubuntu 20.04, upgraded from 19.10
* When I run terminator the display just show a unprintable character glyph (see screenshot, note 1).
    *  No suitabl workaround has been found as yet.
* Next I removed terminator from the system and reinstalled using the `ppa` from the terminator page.
** `apt` reported a security error for `gnome-terminator` repository see: note 2.
** R

[2020-06-21 02:12] robertoetcheverryr commented on #137
Ok, the bug I mentioned is fixed in PR #138. If I see anything else I'll just make a PR. I'm used to a targeted environment, so I do not want to mess with the imports and stuff in case it breaks something back in Python 2.x I'll be wrapping my head around the code (and the tests!) and keep an eye on whatever I can help. Thank you for taking over the code.

[2020-06-21 03:33] robertoetcheverryr commented on #139
I have tested with a minimal Ubuntu 20.04 LTS install, fully updated, and with the defaults. It works for me:
![image](https://user-images.githubusercontent.com/63941860/85216050-82214800-b356-11ea-9d53-a95a8bc9286e.png)
Are you choosing a different desktop environment?

[2020-06-21 15:07] mattrose commented on #139
@aplatypus What window manager/desktop environment are you running?
What language is your computer set to?
Can you paste .config/terminator/config in here?

[2020-06-21 15:47] #99 closed

[2020-06-21 15:49] freud14 commented on #99
Thank you very much for your help.

[2020-06-21 16:03] #133 closed

[2020-06-21 19:23] #111 closed

[2020-06-21 21:22] mattrose commented on #137
The tests run on python 2.7, and they've been good so far at catching import errors.  Unit testing is not my strong suit, but I like them, so any work you can do at writing more tests would be handy.

[2020-06-21 21:55] GrzegorzDerdak opened #143 "Include Black"
Hey guys, what do you think about including a formatter like Black - to keep the code consistent?

[2020-06-23 20:26] mattrose commented on #137
Fixed. with PR #146

[2020-06-23 20:26] #137 closed

[2020-06-25 14:52] mattrose opened #147 "Gnome session support no longer works"
Running on Gnome, I saw this log message
[code]
When I look at `terminatorlib/terminator.py` I see the following
[code]
But I looked at the [documentation](https://lazka.github.io/pgi-docs/) I don't see any Gnome module at all.

As I see it, we have 2 options here.

1.  Just pull this code out.  It probably hasn't done anything since GTK3
2.  Try and figure out the following:
    1. what benefit d

[2020-06-25 17:44] mattrose commented on #147
More looking at this and I'm wondering if this has been superceded by dbus.  I'm gonna ask around on IRC

[2020-06-25 19:16] mattrose commented on #147
Looking at this more, I'm struggling to figure out if this code ever actually brought any benefits.  It looks like code that Chris Jones stubbed out and never completed.  All it does is call methods that do nothing.

Recommend ripping it out.

[2020-06-25 19:23] mattrose opened #148 "move translation of ConfigObj from main terminator code to the only method that uses it."
the main entrypoint `terminator` does a big chunk of work to translate a configobj into a dictionary that can be interpreted by dbus: see `new_window_cmdline` and `new_tab_cmdline`

This should be a method in ipc.DBusService that does this, so that we can just pass the config object instead in `terminator`

[2020-06-25 19:26] mattrose commented on #117
Duplicate of #139 It's a later issue, but it has more information and a screenshot

[2020-06-25 19:26] #117 closed

[2020-06-25 19:28] mattrose commented on #63
This code was pulled in #132

[2020-06-25 19:28] #63 closed

[2020-06-25 19:29] #44 closed

[2020-06-27 22:27] dkmvs opened #149 "Key Bindigs That Contain a Key Modified by a Shift Key Don't Work"
The issue was already reported here: https://bugs.launchpad.net/terminator/+bug/999897.
If a key binding contains a key that was modified by a Shift key, think [ and {, such a key binding won't work at all.

**Steps to reproduce:**

1. Go to Preferences -> Keybindings.
2. Double click on a current key binding next to 'Toggle fullscreen' or any other action.
3. Press `Ctrl + Shift + 1`, that is hol

[2020-06-30 12:05] hramrach opened #151 "broken mouse events in fullscreen applications"
In a fullscreen application mouse scroll events produce arrow key presses.

[2020-06-30 18:50] #149 closed

[2020-06-30 19:24] mattrose opened #152 "Terminator should use XDG_CONFIG_HOME environment variable if it's available."
Most desktop software has standardised on using the XDG_CONFIG_HOME environment variable for the base directory for configuration files.  Terminator hardcodes `~/.config`.  We should check XDG_CONFIG_HOME and use that before falling back to `~/.config`

[2020-06-30 19:27] mattrose commented on #152
https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html

We should also check if any other environment variables in this doc apply.

[2020-06-30 19:36] mattrose commented on #151
I can't reproduce this.  When I use my scroll wheel (actually two finger swipe on a mousepad)  Can you specify what version and OS this is happening on?

[2020-06-30 20:10] hramrach commented on #151
openSUSE Tumbleweed, terminator 1.92

When in bash scroll wheel events scroll the terminal buffer, when in less scroll wheel events scroll the less file rather than terminal buffer which is implemented by translating wheel events to arrow keys. While this is not problematic behavior in less it is undesirable in pretty much every other fullscreen application.

[2020-06-30 20:27] mattrose commented on #151
This behaves exactly the same as other terminal apps out there.  In fullscreen or no.  I'm not sure what we should be doing instead.

[2020-06-30 20:56] hramrach commented on #151
That's not true. In xterm it does not matter if I am running less or bash. Scroll events always scroll terminal buffer.

[2020-06-30 21:44] mattrose commented on #151
Interesting.  xterm does nothing with mouse scroll events in less or vim in my Fedora install.  The behaviour you're describing seems more like a feature than a bug to me.  I suppose we could have an option to enable the behaviour you're looking for.

[2020-06-30 22:10] hramrach commented on #151
What xterm does is correct. When the terminal emulator receives scroll event it should scroll. It should not send random events to the terminal application. Doing so is a bug. If there were a transform-scroll-events-to-arrow-keys flag and the application set it if would be fine. However, fullscreen flag is not transform-scroll-events-to-arrow-keys flag so it should not trigger such behavior.

[2020-07-01 09:25] Arnasnn opened #153 "VirtualBox resizing the window of the VM crashes terminator"
VirtualBox resizing the window of the Ubuntu VM crashes terminator.

This only happens, when some of the terminator windows gets too small.

Ubuntu 18.04.3 LTS
terminator --version
terminator 1.91

[2020-07-01 10:13] Halamadrid777 opened #154 "Is terminator is rolling for Windows Subsystem For Linux (WSL)???"

[2020-07-01 16:39] mattrose commented on #153
Wow.  Do you have a traceback for this?  Can you run this under debug mode `terminator -u -d` to see if there are any debug messages when this happens?

[2020-07-01 16:41] mattrose commented on #154
WSL uses an underlying distribution for packages.  I believe there's an ubuntu distribution that should have terminator.

[2020-07-01 16:41] #154 closed

[2020-07-01 19:17] kamilzaharan opened #155 "On toggling visibility terminator moves down the window"
Hello, every time I hide a terminator and then open it again, its window moves several pixels down from its default position all the way until its lower edge touches the menu bar after multiple toggling.

Version: terminator 1.91
System:
Linux Mint 20 Cinnamon
kernel 5.4.0-40-generic

[2020-07-01 20:23] Arnasnn commented on #153
I can sometimes crash it even just minimizing the window till it crashes, logs of such crash:
`Titlebar::get_desired_visibility: configured visibility: True
ConfigBase::get_item: ConfigBase::get_item: show_titlebar found in profile default: True
ConfigBase::get_item: ConfigBase::get_item: show_titlebar found in profile default: True
Titlebar::get_desired_visibility: configured visibility: True
Con

[2020-07-01 20:56] mattrose commented on #153
Wow, that looks like a problem with the underlying VTE lib.  A little googling suggests that it was hit by everyone that uses that lib (tilix, gnome-terminal) and never formally resolved, but it seems to have been fixed at some point, as it doesn't seem to happen anymore.

Can you try this with latest master, and see if it continues?

[2020-07-01 21:11] Arnasnn commented on #153
Ran then install.py on master,

terminator --version
terminator 1.92

Same issue:
`**
Vte:ERROR:../../src/vteaccess.cc:626:void vte_terminal_accessible_text_scrolled(VteTerminal*, gint, gpointer): assertion failed: (i >= 1)
fish: “terminator -u -d” terminated by signal SIGABRT (Abort)
`

[2020-07-01 21:15] mattrose commented on #153
hmm.   What version of vte are you running?  I think the package is called libvte or vte.  can you run `dpkg -l | grep vte` and paste the output?

[2020-07-01 21:20] Arnasnn commented on #153
`dpkg -l | grep vte

ii  gir1.2-vte-2.91:amd64                      0.52.2-1ubuntu1~18.04.2                      amd64        GObject introspection data for the VTE library
ii  libvte-2.91-0:amd64                        0.52.2-1ubuntu1~18.04.2                      amd64        Terminal emulator widget for GTK+ 3.0 - runtime files
ii  libvte-2.91-common                         0.52.2-1ubuntu1~18.04

[2020-07-01 21:42] mattrose commented on #153
can you safely upgrade those to the latest version?  I think that's where your problem is.

[2020-07-01 21:53] Arnasnn commented on #153
Thanks for the help, I will try that later and will let you know.

[2020-07-02 05:05] bboytian opened #156 "Feature Request: Key binding option for creating group in current tab"
I find the "split to this group" option extremely useful when you have the "broadcast to group" option activated. This allows for creating multiple terminals and running the same commands on the fly. However, to create a group, I have to use my mouse and click "New group...". Could this be set to a key binding?

[2020-07-02 13:39] mattrose commented on #156
Don't see why not...  I'll look into this.

[2020-07-03 10:41] mareksamec commented on #133
Great job, thank you for the quick resolution!

[2020-07-03 17:26] qckzr commented on #152
Hey @mattrose, this seems to be already implemented in file `utils.py`:
[code]

or am I missing something else?

[2020-07-03 19:34] mattrose commented on #152
Well I'll be.  Thanks for looking into this.

[2020-07-03 19:34] #152 closed

[2020-07-04 02:11] Sailstone opened #157 "Feature Request: "broadcast-only" option in profile preferences"
It would be useful to have an option - a checkbox in an individual profile's preferences - which allows a terminal to broadcast commands to other terminals, but not inject them into a system itself. A sort of meta command/control terminal, it only broadcasts commands to other ttys.  Not sure how troublesome this would be to implement with actions which need root.

I believe there may be ways to ac

[2020-07-04 19:14] yash-15 opened #158 "Active tab identification"
I am using terminator 1.91 on Ubuntu 18.04
I want to highlight active tab with a distinctive background.

I tried to modify the CSS below:
/usr/share/terminator/terminatorlib/themes/Ambiance/gtk-3.0/apps/terminator_styling.css
[code]
but this does not seem to work. Can you please help me with the exact change I need to make to highlight the active tab. Happy to share more details. Making this (or

[2020-07-04 22:42] mattrose commented on #158
One thing I've found really helps me with these kinds of problems is the GTK Inspector.  set the env var `GTK_DEBUG=interactive` before running terminator and it will let you inspect all of the CSS properties and modify them.

[2020-07-05 06:54] Evernow commented on #139
Note, had a user with this exact issue, deleting the config file fixed it.

[2020-07-05 16:02] mattrose commented on #139
Yeah, I have a feeling that it has a text encoding or language setting in the config and the underlying OS doesn't have the proper character set.

[2020-07-06 02:02] Dhamma-valence opened #159 "Cannot "Drag and Drop" Folders or Files"
Expected behaviour:
Drag a file/folder icon and drop it onto Terminator to be able to enter the directory path in Terminator's buffer.

Steps to reproduce:
Open terminator in terminal (meta) in order to get the debug output. Then open any file browser and attempt to drag the icon and drop it into Terminator. Get the following error message in the terminal you opened terminator in (still meta).

`T

[2020-07-06 13:33] dugb commented on #159
I can not reproduce this using the latest from master.

Looking at the code, terminal.py lines 1142 and 1145 the decoding from str to bytes is being done.

I can reproduce this using terminator from the debian buster repository, version 1.91

What version of terminator are you using?

[2020-07-06 21:02] hramrach commented on #151
hm, I don't see where this hack is implemented. It seems terminator grew the option to disable mouse zoom since the release but the mouse wheel handler seems to call scroll directly, I see mo translation to keys there. Is it hidden in vte?

[2020-07-06 21:25] hramrach commented on #151
https://github.com/GNOME/vte/blob/mainline/src/vte.cc#L9395

[2020-07-06 21:37] dugb commented on #151
Full screen applications run on the alternate screen.  The alternate screen does not have scrolling, so the up and down arrow keys are sent to mimic scrolling.

So the question is can we access the normal screens' scrollback when we are on the alternate screen?

When this 'bug' was reported on gnome-terminal, the answer to that question was 'No'.  VTE does not provide the normal screen scrollback

[2020-07-06 22:27] dugb commented on #151
I just tried scrolling with `less` in xterm and I think the way this is implemented in `xterm` is quite pointless.  (as is also pointed out in https://gitlab.gnome.org/GNOME/gnome-terminal/-/issues/27)  the latest several lines from the normal screen are inaccessible.

[2020-07-06 23:47] dugb commented on #151
Interesting this guy (http://blog.guntram.de/?p=164) has a couple (rather old) patches for vte.  It looks like he is disabling switching to the alternate screen for full-screen applications.  It's about time for me to turn off my computer for the night.  I'll take a closer look at these tomorrow.

However, I think it is safe to say that the way terminator is behaving is the same way all vte based

[2020-07-07 08:59] hramrach commented on #151
The condition is

if (m_screen == &m_alternate_screen &&
            m_modes_private.XTERM_ALTBUF_SCROLL()) {

so presumably if XTERM_ALTBUF_SCROLL is unset the bogus key event are not generated and either there is no scrolling or the combined scrolling showing 1st buffer scrollback where it is not covered by the alt buffer.

[2020-07-07 12:17] mattrose commented on #159
This was fixed a while back in master. see #54 for fix

[2020-07-07 13:35] mattrose commented on #151
Given that this behaviour is something that we inherited from the VTE library, we can't really change it in terminator.  You could chime in on the vte bug referenced above.  I've submitted code to vte and had it accepted before and Egmont is generally a good guy.

[2020-07-07 13:35] #151 closed

[2020-07-07 13:45] hramrach commented on #151
There is already code testing for a flag in the VTE library so terminator should be able to clear the flag to change the behavior. There would be reason to report bug against VTE if interface for changing the flag does not work.

[2020-07-07 13:55] hramrach commented on #151
https://gitlab.gnome.org/GNOME/gnome-terminal/-/issues/27 show that the feature can be turned off with `echo -ne '\e[?1007l'`

However, I do not see any 1007 in my termcap database so this is some non-standard VTE extension that is not even advertised to the application. It may be fine for gnome-terminal to use its own TERM type and advertise this feature but Terminator uses xterm types which do n

[2020-07-08 15:27] dugb commented on #129
I think what is going on here is that a users 'custom palette' is not saved in .config/terminator/config as a custom-palette. It is saved as `palette`.

So if a user sets up all their colors for a custom palette, that palette is saved as `palette`.

But then if they decide to try out Tango palette the Tango palette is saved as `palette` and overwrites all their custom colors.

Then if the user dec

[2020-07-09 14:42] mattrose commented on #129
@SCCOBN PR #160 appears to fix this, can you confirm?

[2020-07-10 18:35] #129 closed

[2020-07-13 13:02] haim0n commented on #1
Kudos for the effort :1st_place_medal: .
I actually failed in convincing the original terminator team moving to Github :) , well done !!
Had some humble contributions in the past, would love to keep on doing it. Count me in.

[2020-07-13 14:19] mattrose commented on #1
Welcome, personally I tend to be on https://gitter.im/gnome-terminator/community a lot.

[2020-07-14 01:10] MarioMey opened #161 "Search doesn't highlight words."
I remember that one day I report this bug... but I really don't remember where and what the workaround was.

When I search for a word, the line that includes the word appears at the top, but the word is not highlighted. It's difficult to know where the word is.

I use Terminator from Debian Buster repo 1.91, but I download 1.92 and it does the same.

Debian Buster 10 x64, Mate desktop 1.20.4.

[2020-07-14 20:05] mattrose commented on #161
I'm pretty sure we've fixed that problem, I don't recall off the top of my head whether the fix made it into 1.92 or is just in the master branch

1. Make sure none of the earlier versions of 1.91 are running when testing 1.92, or test 1.92 using `terminator -u`
2. If that doesn't work, try downloading master and running that with the same `terminator -u` command.

[2020-07-14 23:48] Fryboyter commented on #161
I can reproduce the problem under Arch Linux with version 1.92. But with the current master from Github the search term is highlighted.

[2020-07-15 01:08] mattrose commented on #161
I think we need to cut a new release soon

[2020-07-15 11:38] MarioMey commented on #161
Yes, in 1.92 the problem is gone. And maybe was because I had 1.91 running when testing 1.92.... but I just test it again and also 1.91 did highlight words... 🤷

Well, I just removed 1.91. Now it works all the times. Thanks.

[2020-07-15 12:33] #161 closed

[2020-07-15 16:54] stonepresto opened #162 "TypeError in terminal.py"
Terminator crashed on drag and drop, bytes object vs. string issue.

`a bytes-like object is required, not 'str'`

https://github.com/gnome-terminator/terminator/blob/412c80eec7bdf44b75b5b05db71ad059f3bdeb20/terminatorlib/terminal.py#L1143

[2020-07-15 22:15] mattrose commented on #162
fixed in master see PR #54

[2020-07-15 22:15] #162 closed

[2020-07-17 13:01] Dhamma-valence commented on #159
Yes thank you, I build from the master instead of using Debian Stable repos and it works!

My only issue with it now is that dragging and dropping a file appends `file://` to the beginning of the directory string, which results in Terminator outputting `"No such file or directory"`.

I'm unsure if this is on the OS or Terminator's side, but do you know of a fix / way to remove or prevent this beha

[2020-07-17 14:04] mattrose commented on #159
hmm, shouldn't be doing that. Lemme check

[2020-07-19 15:31] markjfisher opened #163 "ctrl-alt-a activates even when terminal has no focus"
Hi,

When I'm using emacs (gui) with smartparens (for instance), when I use the ctrl-alt-a binding, it triggers terminator window and doesn't trigger a key response in emacs.

With no terminator running, the keybinding is honoured correctly in the emacs window, but if any terminal session is open (starting before or after starting emacs), it hijacks the keystroke and thus never gets to my editor s

[2020-07-19 18:33] pktiuk opened #164 "Feature Request: Add hyperlink support"
It would be very nice to add supprot for Hyperlinks (a.k.a. HTML-like anchors) in terminator.
They are quite popular in other terminal emulators.

Some examples can be found [here](https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda)

[2020-07-20 07:44] Srijan1214 opened #165 "Confirmation Promt Not Showing When Closing The Terminal With An Active Child"
Hello,

I am new to this software and I am trying to set up terminator to give a warning/confirmation dialog box when a process like vim is active. This is what I usually get in gnome-terminal.

I have tried following the advice here
https://askubuntu.com/questions/798188/make-terminator-ask-for-permission-before-closing-if-something-is-being-executed
and changed the  `/usr/share/terminator/termin

[2020-07-20 09:29] pktiuk commented on #164
It seems that there is already an implementation of hyperliknks, but it seems to work only with printed links.
`echo http://www.google.com` - Working
`echo www.google.com` and `printf '\e]8;;http://example.com\e\\This is a link\e]8;;\e\\\n'` - Not working

[2020-07-20 12:41] mattrose commented on #163
Probably best to change the keybinding in terminator to something else.  This is intended behaviour.

[2020-07-20 12:41] #163 closed

[2020-07-20 12:46] mattrose commented on #164
Thanks for this, Egmont actually opened this when he introduced the feature.   https://bugs.launchpad.net/terminator/+bug/1686821

I'll take a look at it.

[2020-07-20 13:13] br0kenbuild commented on #116
being more specific is good - are you requesting individual terminal blur, independent off global one?
otherwise workaround would be 2 profiles with different global transparency levels and switching between them...

[2020-07-20 13:38] br0kenbuild opened #167 "broken Close button in Terminator Preferences menu"
steps:
- open Terminator
- right-mouse-click inside terminal
- click Preferences
- attempt to click bottom-right Close button

expected:
- be able to close Preferences menu via Close button

actual:
- Close button clicks but doesn't close the menu
- only top-right X button closes the menu

versions:
- terminator 1.91
- gnome 3.28.2
- py 2.7.17
- ubuntu 64b, 18.04 LTS, 4.15.0-111-generic

[2020-07-20 14:33] mattrose commented on #159
@Dhamma-valence I was unable to reproduce this.  when I drag a file from the Files app in GNOME it just prints out the file name in quotes, not a file url.  There is a lot of weird complicated logic around so it's possible that it's not doing the correct the thing in your case.  Can you tell me what your desktop environment or window manager is, and what program you're dragging the file from?

[2020-07-20 14:39] mattrose commented on #167
Hmm, works for me.  Can you run terminator from the command line and see if there are any tracebacks on stdout or stderr?

[2020-07-20 14:39] mattrose commented on #167
Also try upgrading to 1.92 or master.

[2020-07-20 15:08] mattrose commented on #165
Cool, I think that this is actually caused by a bug.  When I reproduced it, I got the following traceback:

[code]

[2020-07-20 21:26] mattrose commented on #164
I've started work on this and gotten your second example with the OSC-8 escape sequence working, see https://github.com/mattrose/terminator/tree/new-hyper if you're interested.  I'm still not sure about the first www.google.com example.  I'll see how gnome-terminal does it and if I can easily implement it.

[2020-07-21 02:35] Srijan1214 commented on #165
@mattrose Thank You for responding.

 It might not be a bug because this is my first time using gnome-terminal. Most probably I might be doing something wrong. I just don't want terminator to accidentally close without prompting me.

[2020-07-21 02:40] Srijan1214 commented on #165
Just an example of what I do not want
![not want](https://user-images.githubusercontent.com/25398686/88006554-e3fdda80-cad9-11ea-8495-61e06daf3f08.gif)

[2020-07-21 12:24] mattrose commented on #165
You're definitely right about prompting before closing if the terminal is running processes, I just have to figure out how to do that.  The traceback was possibly related, but I think there's more work to do.  I am working on this.

[2020-07-21 13:53] br0kenbuild commented on #167
running now off gnome-terminal as:
/usr/bin/terminator -d -d > term.log 2>&1

regarding 1.92, can you guys push it through Canonical people?
i got 1.9.1 as snap on beta stream and edge one seems to be the same (snap info gnome-terminator).

more observations:
- have another machine with very similar versions - only the kernel seems to be slightly newer 4.17.x - and cannot reproduce
- i have closed

[2020-07-21 14:20] mattrose commented on #165
Found the [gnome-terminal code](https://gitlab.gnome.org/GNOME/gnome-terminal/-/blob/master/src/terminal-screen.c#L2204).  It's ... complex.  MIght take me a bit to implement.  Hopefully I can use the python-psutil lib to simplify.

[2020-07-21 18:30] Srijan1214 commented on #165
@mattrose ahh geez much appreciate the effort.

[2020-07-21 20:23] silocoder opened #168 "'maximized' config property is misspelled and prevents position from working."
LM 20
terminator 1.91

1. Launch Terminator and move the window where you would like it to be.
2. Open Preferences (right+click) and choose Layouts and then Window0. Click Save
3. Relaunch

Notice that in the Preferences file `~/.config/terminator/config` the key `maximised` is wrong and should be `maximized`.

Prevents `position`  window positioning from working. Probably crashes.  After I fix sp

[2020-07-21 21:24] silocoder opened #169 "Add Terminator version in About screen"
Update About screen to include terminator version.

[2020-07-21 21:25] mattrose commented on #158
Instructions [here](http://blog.nabam.net/workstation/2017/09/15/terminator_tabs/) work for me

[2020-07-21 21:25] #158 closed

[2020-07-21 21:35] mattrose commented on #168
I was not able to reproduce this.  I was able to load up your config file just fine. Due to it's heritage, terminator uses the UK spelling of "maximise", and works fine with that spelling, afaict.  Can you run terminator in debug mode to see if something else is causing the crash

[2020-07-21 22:54] silocoder commented on #168
Did diff and same dump both with the s or z. Except it works with the z but not with the s. It's obviously a regional issue.

[code]

[2020-07-22 15:15] mattrose commented on #168
What lang and encoding do you have?

[2020-07-22 16:17] mattrose commented on #169
Wow, yeah.  I'll do this.

[2020-07-22 16:23] mattrose commented on #168
2 things.
1. I don't actually see any error or any indication that the position is not being set in the debug output.  The top of the debug output says that it was able to load the config successfully.
2.  I looked at the code, and by changing the word `maximise` to `maximize` all you're doing is causing the config loader to ignore it.  You could do the same thing by just removing that line.

[2020-07-22 16:24] mattrose commented on #153
no feedback in 21 days, assuming fixed

[2020-07-22 16:24] #153 closed

[2020-07-22 16:27] mattrose commented on #167
You should be  able to install latest master by just cloning the repo and following the instructions in `INSTALL.md`.  The gnome-terminator snap is entirely unsupported.  I've tried getting in touch with the author and I haven't heard back

[2020-07-22 16:27] #167 closed

[2020-07-22 16:29] mattrose commented on #139
closing this issue

[2020-07-22 16:29] #139 closed

[2020-07-22 16:30] #25 closed

[2020-07-22 17:38] mattrose commented on #155
Whoa, I must have missed this issue earlier.  Sorry about that.

1. How are you hiding the window?  Using Ctrl-Alt-A?
2. Can you try reproducing this with the latest master

[2020-07-22 17:46] #68 closed

[2020-07-22 18:11] #127 closed

[2020-07-22 19:56] silocoder commented on #168
I switched my Language support to UK. Same issue.   So I traced it to this code via the debugger and have a fix. It does not make sense but seems to be buried in GTK.unmaximize() method. I am not familiar with what could be happening. It looks like calling unmaximize twice causes a problem.  Let me know if you want me to try further testing.

Original code in terminatorlib/window.py
[code]

Fixed

[2020-07-23 14:33] mattrose commented on #168
When I try your reproduction steps I just get
`Unable to load configuration: Duplicate keyword name at line 16`
Can you try master?  check out `INSTALL.md` for instructions

[2020-07-23 14:56] #169 closed

[2020-07-23 14:56] #147 closed

[2020-07-23 15:10] mattrose commented on #157
This is easily done by creating a heredoc in a shell when setting up the broadcast group.  Just enter something like `cat <<EOF` in the "command" terminal while it's not part of the broadcast group, and then none of the commands will be executed on that server, but will be executed on the other terminals in the broadcast group.  Unfortunately, this is pretty much the only way I can see of doing th

[2020-07-23 15:10] #157 closed

[2020-07-23 15:11] mattrose commented on #155
I can't reproduce this.

[2020-07-23 16:48] #95 closed

[2020-07-23 18:15] silocoder commented on #168
Makes sense if you copied both lines above into the config. Sorry my bad for not being clear. I meant I tested it with both maximise=False and then changed it to True. Otherwise you would be getting duplicate key.

[2020-07-25 13:30] kamilzaharan commented on #155
Upgraded to 1.92, changed hiding window to ctrl-alt-a and the problem still stands.

[2020-07-27 15:58] vitaly-zdanevich commented on #1
I created [Wikipedia page](https://en.wikipedia.org/wiki/GNOME_Terminator), feel free to contribute.

[2020-07-27 17:43] vitaly-zdanevich opened #175 "gitHUB is a proprietary, consider migrating to gitLAB"

[2020-07-27 21:09] mattrose commented on #164
For some reason, the www.google.com example works now.  I'm going to pull this.

[2020-07-27 21:22] #164 closed

[2020-07-30 01:36] mattrose commented on #168
Seeing as I haven't been able to reproduce this, I'm not sure how I can reliably test this, and the logic is different.  You said you had run it through a debugger.  Did you get a traceback or anything like that?

[2020-07-30 16:28] silocoder commented on #168
Hi, yes sorry. I can reproduce it only on the following Desktops:

Linuxmint Cinnamon and Linuxmint MATE. Tested and could not reproduce it on Ubuntu desktop.

I did clone latest Master and have the same issue.  But when I comment the line below in `terminatorlib/terminator.py:`

[code]

As I said I think calling `window.set_maximised(window.ismaximised`)  twice causes the issue. If it only get's

[2020-08-02 07:38] Ajith-stark opened #177 "Duplication of Icons due to different WM_CLASS names"
I have a Pined terminator to dash.  When press CTRL+ALT+T to open it creates a duplicate icon in the dash.
I tried adding this line` StartupWMClass=[x-terminal-emulator]` but didn't work.

[2020-08-02 10:53] Ajith-stark commented on #177
It only happens while using short cut method
in below image, you can see 2 different names are used also you can see at top bar tab name ( next to activities thing )

![terminator-bug](https://user-images.githubusercontent.com/47944176/89121404-57411c80-d4dc-11ea-97de-d2dfcef6b8ca.png)

[2020-08-05 05:04] gigablast opened #178 "new feature: support for term://1.2.3.4/ 'links' that when clicked open a new terminator ssh'ed to 1.2.3.4."
similar to how terminator hot links http://www.foo.com/ to a browser. this would open up another terminator when clicked.
i'd find this super useful as i'm sure other cmd line junkies would.

[2020-08-07 18:21] behnamarbab opened #179 "Add vertical spacing between lines"
I am trying to use emojis within the text, but I see that the emojis positioned vertically against each other, overlap and it doesn't look good.
To be more specific, I want these two emojis:
[code]
When the above emojis are inserted in consecutive lines, one below the other one, they overlap.
If I can increment the vertical line spacing, my problem would be solved. (Or if the size of the emojis I

[2020-08-08 13:16] lazyfrosch commented on #175
Seriously? Please try to keep your contributions to being helpful, encouraging and friendly...

There is no technical reason to move away from GitHub. I won't discuss any political views here.

[2020-08-08 13:16] #175 closed

[2020-08-10 22:31] mattrose commented on #179
I *think* this is a vte bug.  I will poke a bit.

[2020-08-10 22:33] mattrose commented on #165
This is proving a lot hairier than I originally thought.  Still working on it, but progress is slow.

[2020-08-12 13:57] rohan-paul opened #180 "In Uubuntu 20.04 Ctrl + Mosue Scroll Down is NOT zooming out - But with Ctrl + Mouse Scroll Up I can Zoom in"
In Uubuntu 20.04 Ctrl+ Mosue Scroll Down is NOT zooming out - But Ctrl + Mouse Scroll Up makes it Zoom in

[2020-08-17 20:25] JakubVanek opened #183 "Feature request: reenable broadcast keybindings and warn on their first use instead"
The intent behind this is to revert https://github.com/gnome-terminator/terminator/pull/41 and use a better mechanism for protecting new users. As per feedback on Gitter, the previous keybindings are still actively used by advanced users. The other proposed solution (showing a warning each time until closed with `do not warn again`) would work for both groups.

[2020-08-18 08:08] ohir commented on #183
@JakubVanek
No it will NOT work for both groups. It would benefit only those users who are happy to ask   developers to make additional code and logic just because someone claiming "advanced" is too lazy to configure a really advanced feature.

This feature (broadcast) while useful for one's who need it is way too dangerous for most casual users.

I counter with proposal to enable broadcasting not

[2020-08-18 14:23] mattrose commented on #179
Hmm, seems to work for me:
![Screenshot from 2020-08-18 10-16-34](https://user-images.githubusercontent.com/65013/90524538-31528380-e13c-11ea-9ff0-853dc22c2cca.png)

Few questions:
 * Is it those specific emojis that are causing the problem?
 * If it is, can you specify some Unicode codepoints?
 * What version of the VTE lib are you using?
 * What font are you using?

[2020-08-18 14:32] mattrose commented on #155
Hmm, I can reproduce this on Linux Mint Cinnamon, but not on Ubuntu or Fedora with GNOME.  I'm not sure what we can do, as we rely on the Window Manager / DE to properly position the window after it unmaximise.  We just call the proper GTK.Window.maximize() or unmaximise() method.

[2020-08-18 14:32] #155 closed

[2020-08-19 09:34] tuukkaanttila opened #184 "Cannot open terminator windows with different configs"
Opening a terminator window prevents opening another terminator window with a different config using the command line argument --config. It just opens the new window with the same config as the previously opened window uses.

[terminal1] $ terminator
--> terminator opens with default config

[terminal2] $ terminator --config="some_other_config"
--> terminator window opens, still with default confi

[2020-08-19 11:23] JakubVanek commented on #183
To be fair to the user in question, they did not claim that they are "advanced" or whatnot. I just thought that they felt not happy about us hiding a potentially useful feature and this was my conclusion from it.

I would go for a compromise - the dialog box would be similar to what GitHub shows when deleting a repository.
[code]

A different solution altogether would be to reintroduce the keybind

[2020-08-19 14:04] ohir commented on #183
Broadcasts and grouping are available at the titlebar menu. So how an user that have not discovered yet "broadcast off/group/all" there is supposed to decide whether she wants to have a shortcut for it?

So they certainly are not of group that might demand footcannon's fire button having a default keyboard shortcut.

Nothing is hidden in terminator code nor in the user interface. Had this user was

[2020-08-19 16:13] mattrose commented on #178
This would be really easy to add to the URL Handler plugin: https://github.com/gnome-terminator/terminator/blob/master/terminatorlib/plugins/url_handlers.py  It's got pretty much everything there.

[2020-08-19 16:28] mattrose commented on #184
Took me a second, but you're right.  the `terminator` command will look for a running dbus instance and attach to that, config and all, if you don't tell it not to.  The way to configure 2 different terminals with different configs, you should use profiles.  If there's some configuration that you need to have different that is not supported in profiles, and you have to run with two different confi

[2020-08-19 16:28] #184 closed

[2020-08-19 16:45] mattrose commented on #183
And, I'm not sure that this is what the user in gitter was complaining about.  I am wary of adding a lot of complexity for this.  We already have a bunch of functions that don't have a default keybinding, and this *is* a particularly dangerous one.

I posted a message to the user in gitter to see if this is indeed a problem for them.  I'm leaning on agreeing with @ohir tho.  It's a fair bit of com

[2020-08-19 18:49] mattrose commented on #168
I'm very tempted to call this a bug in Mint.  If it works in ubuntu, and fedora and debian and other distros, then if I make any change to the code, I have to make sure it continues to work in all those distributions.  Calling GTK.Window.unmaximize() twice shouldn't break things, and doesn't, except on Mint.

It's literally a one-line fix, but testing all the permutations of maximizing and unmaxim

[2020-08-19 19:56] mattrose commented on #180
Umm, I just tried this on ubuntu 20.04 and it works. Can you provide any more information?

[2020-08-20 08:48] JakubVanek commented on #183
This does sway my opinion too towards agreeing that this feature would not have much benefit.

[2020-08-20 12:25] mattrose commented on #183
Yeah, I'm gonna close this.  I appreciate the thought, but it's a lot of complication for what is, at this time, only a hypothetical problem.  I think your original change should just stand as is.

[2020-08-20 12:25] #183 closed

[2020-08-20 12:27] mattrose commented on #177
Few questions.  I was unable to reproduce this using a bunch of different OSes and Desktop Environments.

What Window Manager/Desktop are you using?
What OS are you using?

[2020-08-20 13:01] Ajith-stark commented on #177
Ubuntu 18.04
Is this repo different from the terminator available in apt repo ( terminator/bionic,bionic,now 1.91-1) ?
if it is then this is something different.

reproduce:
- Close terminator app if already opened
- Now press `CTRL+ALT+X` and terminator launches but the name of that tab is **x-terminator-emulator** ( you can see that' in previous post )
- Now close it.
- Now open terminator by cl

[2020-08-20 13:02] ohir commented on #183
@mattrose

Opening? — no. Whatever feature may come to someone's mind, it has a value. Here we have:
 1) a call to make dangerous existing feature under an obscure to most users, yet default keybinding
 2) an innuendo that terminator devs "hide" something from users

This together **is the proof** of laziness: some gitter user neither read the docs nor took the menu tour (to know "broadcast off/gr

[2020-08-20 14:07] JakubVanek commented on #183
I'd like to apologize for this, at least half of this is my fault. Moreover, as @mattrose says, I have likely misunderstood the original comment on Gitter.

[2020-08-20 16:31] KavetiRohith opened #188 "Htop desktop entry doesn't open in terminator but it works when the command is directly typed"
tested on gnome 3.36 with arch linux

[2020-08-20 18:55] mattrose commented on #188
I'm gonna need a lot more details than that.  I am running GNOME 3.36, but not Arch.  What is htop?  What is the htop desktop entry?  Why should it open in terminator?

[2020-08-20 19:17] mattrose commented on #188
This is https://gitlab.gnome.org/GNOME/glib/-/issues/338

Go yell at the glib developers.

[2020-08-20 19:17] #188 closed

[2020-08-20 19:28] mattrose commented on #178
@gigablast I'll do this if you agree with `ssh://1.2.3.4` as described in https://tools.ietf.org/id/draft-salowey-secsh-uri-00.html

[2020-08-20 19:43] silocoder commented on #168
I concur it's not worth trying to fix/test for a particular OS. I did try it on a Linuxmint  fresh live usb as well and had same issue. Tested it with PopOS and works fine. So it would point to a LM issue. I may post that as an issue over at Linuxmint Cinnamon.

[2020-08-20 23:55] gigablast commented on #178
that's quite agreeable! :+1:

[2020-08-23 13:19] dkmvs opened #190 "Duplicate Key Bindings are Allowed in `Preferences > Keybindings`"
The same key biding can be used to refer to more than one action when set in Preferences > Keybindings tab. As a result, such a key binding will always trigger one action (always the same one) while other actions associated with that key bindings will be ignored.

Steps to Reproduce:
1. Open Preferences.
2. Go to the Keybindings tab.
3. Make sure that 'Toggle fullscreen' action uses `F11` as a key

[2020-08-23 17:56] mattrose commented on #102
Just noticed this hasn't been touched in a while and I'd like to get ready to release 2.0.  I'm going to remove the 2.0 milestone.  In the rpm manifest we just remove the icon-cache file.

[2020-08-24 07:31] jwrdegoede opened #191 "Selecting first char of a line for copy-paste is impossible"
This is with the Fedora 33 package of terminator: terminator-1.92-5.fc33.noarch

I just tried to copy and paste a bit of text starting in column one from the right terminal of a vertically split terminal, but this is impossible, instead of being able to select the first char I would always get the "resize" cursor for dragging the split between the 2 terminals left/right.

I worked around this be s

[2020-08-24 07:33] jwrdegoede opened #192 "RFE: show 80 char limit"
I use a terminal based editor and many projects have a 80 char line length limit in their coding style.

It would be nice if terminator could show a small vertical line indicating the 80 char (or preferably configurable) limit similar to how some graphical code editors can do this.

[2020-08-24 07:43] jwrdegoede commented on #191
I'm trying to switch to terminator as my default terminal emulator and I must say this is quite annoying. I also just noticed that this leads to me accidentally dragging the divider left/right all the time instead of keeping the default 50/50 split.

For me a good fix for this would be to allow disabling dragging on the divider all-together, that would fix both accidentally dragging it and not bei

[2020-08-24 13:58] mattrose commented on #192
Would be nice.  I'll be honest and say that even if there was a way to do this in VTE, I'm not sure I'm up to it.  The way I always deal with this is to set the size of the terminal window to the number of columns allowed.  You can easily see the number of rows and columns in the titlebar.

[2020-08-24 14:04] jwrdegoede commented on #192
I use terminator as a tiling WM for just terminals, so I always have it maximized.

With my current hidpi scaling factor + fontsize combo I get 3 83-chars wide terminals horizontally, I guess I could make it 80 + 80 + 89 chars instead.

And I see your point about this needing to be added to VTE first. Shall I file a RFE against upstream VTE ?

[2020-08-24 15:34] mattrose commented on #192
That would be great.

[2020-08-24 15:42] mattrose commented on #191
Thanks for opening this.  It has bugged me for a while now, and I finally found a fix, thanks to the tilix project. https://github.com/gnunn1/tilix/issues/1838 led me to the weirdly named, wide_handle.  Setting this property on the VPaned Class in `terminatorlib/paned.py` fixes it.

I'll do a PR soon.

[2020-08-24 15:46] jwrdegoede commented on #192
Done: https://gitlab.gnome.org/GNOME/vte/-/issues/275

[2020-08-24 19:05] #191 closed

[2020-08-25 09:30] jwrdegoede commented on #191
I've added the patch to my local terminator version and I can confirm that this fixes this issue, thank you.

[2020-08-25 18:56] mattrose commented on #179
Closing.  Please reopen if you have further problems.

[2020-08-25 18:56] #179 closed

[2020-08-25 18:57] mattrose commented on #180
closing.  please reopen if you have further problems

[2020-08-25 18:57] #180 closed

[2020-08-25 19:08] mattrose commented on #177
This is due to a glib problem.  For some reason, glib will let you have any default application for web browser, or email client, or whatever, but stock glib has a **hardcoded list of terminal emulators** that it looks through anytime you request a terminal.  Ubuntu works around this, but as you can see, it's kind of a hack.  https://gitlab.gnome.org/GNOME/glib/-/issues/338 has the bug, and https:

[2020-08-25 19:08] #177 closed

[2020-08-25 19:10] mattrose commented on #178
Wow, this is actually stupidly hard.  I think it should be done, but we can't just piggyback off of `xdg-open` like we would for everything else.

[2020-08-25 19:17] mattrose commented on #168
If you do open it up, and need more details, feel free to ask.  Thanks

[2020-08-25 19:17] #168 closed

[2020-08-25 19:57] #156 closed

[2020-08-25 20:12] mattrose commented on #75
You can use keyboard shortcuts to move and resize.  I tested out the instructions on this page and it works.  https://help.gnome.org/users/gnome-help/stable/shell-windows-states.html.en

I'm going to close this.  feel free to re-open if you have further problems.

[2020-08-25 20:12] #75 closed

[2020-08-25 23:38] mattrose commented on #191
Thank you.  I noticed that you added a patch for the fedora rpm.  I'm also a maintainer with @dmaphy

[2020-08-25 23:41] mattrose commented on #118
Yeah, it's weird.  I'm just using the GTK.Window calls.  Oddly enough, .iconify() works as expected, but .hide() doesn't seem to remember the placement properly, and needs to have it's position reset.

[2020-08-25 23:44] protist commented on #118
Ah right. So it seems like a GTK bug then?

[2020-08-25 23:58] mattrose commented on #118
Bug, or ... Feature?  I'll do some digging on the gtk bug tracker.

[2020-08-26 00:10] mattrose commented on #118
Can't find any of that exact bug on the various gtk bug trackers, but I found a bunch of similar.  We actually hack around this a little bit in terminator, but I'll take a look at the source and see if I can find anything, and probably end up opening a GTK bug.

[2020-08-26 08:34] jwrdegoede commented on #191
Yes, since the fix works great I asked @dmaphy if he was ok with me adding it to the Fedora pkgs, I did not realize that you were co-maintaining otherwise I would have added you to the Cc.

[2020-08-26 16:20] im-AMS commented on #159
Hey,
I had the same issue of `file://`
I run manjaro KDE,

I think I have managed to fix it, ill make a pull request, please check it out

Thank you

[2020-08-28 18:52] epsilontheta opened #199 "Search does not work"
I'm using version 1.92 and if I want to search something in the terminal I press ctrl+shift+f, enter the search string and press enter (would also appreciate if didn't have to press enter first) to activate the Prev and Next buttons.

If I press said buttons nothing happens regardless of the wrap checkbox state.

I can reproduce the issue on both my machines (Fedora and Arch).

[2020-08-28 18:58] epsilontheta commented on #199
Config:

[code]

[2020-08-28 21:13] mattrose commented on #148
Tried that, didn't work.  Moved it to optionparser.parse_options(), which makes more sense anyways.

[2020-08-28 21:15] mattrose commented on #199
fixed in master.  I'll be doing a 2.0 release next week.

[2020-08-28 21:15] #199 closed

[2020-08-28 21:17] mattrose commented on #192
you mind if I close this until it gets implemented by VTE?

[2020-08-28 21:41] mattrose commented on #11
@x4lldux I just looked at this.  It works amazingly, but I don't understand it at all.  Do you mind if I re-write it in straight python?

[2020-08-28 22:48] x4lldux commented on #11
@mattrose Sure, go ahead! Don't mind me, I'm just a lisp guy trying to confuse everyone ;)

[2020-08-29 09:48] jwrdegoede commented on #192
Closing this till it gets implemented by VTE is fine with me.

[2020-08-29 15:02] Dhamma-valence commented on #159
I use KDE, with the default Kwin WM on Debian Testing -
 Krohnkite Kwin tiling script too but that's likely irrelevant.

I _think_ this might be related to another error I was having with something called KIOExec on KDE but I could be wrong.

It wasn't completing some translation between an HTML link in an app and the process that it was directed to, and gave a similarly URLish output (though I've

[2020-08-30 12:54] #192 closed

[2020-08-30 12:54] mattrose commented on #192
I put a watch on the VTE issue and I'll look at it once that VTE issue gets addressed

[2020-09-01 02:47] JavaScriptDude opened #201 "Tab Char is Truncated when Copying"
I have just ran into an issue where I was pulling tab delimited data from a tail output in Terminator to pasted into a spreadsheeet and  I noticed that field who's tab delineator was at wrapping point in then console was truncated when I copied the text  by selecting and hitting ctrl-shift-C.

It appears that when Terminux writes to the screen it truncates extra tabs that begin/end at a line.

I s

[2020-09-01 08:27] alevikpes opened #202 "Command setting in config does not work with aliases"
Hi! Today I tried to change my layout and I was not able to save it - button just does not do anything. Adding new layout does not work as well. Moreover, in my old layout all working directories have gone and I am not able to set them up again, since the save does not work. I tried to modify the config file, but `working_directory` option does not work. I think, I was using it earlier to set up m

[2020-09-01 08:42] alevikpes commented on #202
I found out that the option for the working directory should be called `directory` in the config file.

To set up the command I tried `command`, which breaks the config and terminator loads with some strange layout. This `command` option is added automatically to the config, if I change it in the gui's `Custom command` setting. If I try `custom_command` in the config, it does not do anything.

[2020-09-01 08:49] alevikpes commented on #202
It seems, it does not recognise my alias command, which is setup in my `~/.bash_profile`, although this alias works fine in the terminator, if I execute it manually. I tried `command = python3` in the config and it was working.

So, the question becomes: why is my alias not working and is there a way to make it working, when terminator starts?

[2020-09-01 15:59] mattrose commented on #202
Do you have "Run command as a login shell" checked off in Preferences -> Profiles -> Command?  Bash initialization is kind of a black art and I always have to check which config files bash reads when it starts up in differing modes.

[2020-09-01 16:24] alevikpes commented on #202
No, I have it on.

I am very happy about terminator. I think, it is the best terminal at the moment, although I should have adjusted most of the shortcuts for my wow. Having my alias working would be just another nice feature :-)

I have also noticed, that the manual is missing some parts about the config file. It is not mentioning that command line argument `--working-directory` is called `direct

[2020-09-02 08:02] CsatiZoltan opened #203 "Gap between windows"
### Problem
When I resize the windows, either horizontally or vertically, I can see the background. This is due to the fact that there is a few pixel width gap. This is annoying when the background is not homogeneous.

### Version information:
OS: Ubuntu 18.04 LTS
Terminator: [1.91-1](https://launchpad.net/ubuntu/bionic/+source/terminator)

### Demonstration:
![Gap](https://user-images.githubuserc

[2020-09-03 07:18] Bollos00 opened #204 "Terminator overwrite shortcut of console Applications"
I do not know if it is worthy enough for creating a new issue, sorry if it is not.

I have been using terminator for something like five months now and I love every bit of it. Recently I face myself on a situation when I was running a console applications (vim in that case) on terminator, when I tried to press the help button (`F11`), it redirected me for the [terminator documentation](https://ter

[2020-09-03 19:09] mattrose commented on #204
Not really.  Terminator grabs the keystroke and handles it before any program run from the shell does (It kinda has to, to do it's job)

[2020-09-03 19:09] #204 closed

[2020-09-03 19:10] #148 closed

[2020-09-04 08:48] Fonant commented on #191
Thanks for the fix! That was something that has annoyed me, on-and-off, for some time. :+1:

[2020-09-05 04:05] mattrose commented on #202
there's weird stuff here.  Thanks for opening this.

[2020-09-08 14:40] mattrose opened #206 "Create Snap and Flatpak for Terminator"
So, there's two reasons for this:

1.  There's a lot of demand for it.
2.  There's a lot of functionality that would be nice to have in terminator, but is unavailable through the stock VTE library.  There are patches that exist, but we cannot rely on them being there.

[2020-09-08 14:41] mattrose commented on #206
If anyone has any experience creating these, PRs would be greatly appreciated.

[2020-09-08 15:50] mattrose commented on #202
Good news and Bad news.

Good news: I found a problem with Terminator that means the "login_shell" option is not passed to the shell spawned.
Bad news: aliases do not get evaluated in bash, as far as I can tell.   If I put `alias foo=ls` in my .zprofile, and then run `zsh -l -c foo` it spits out my directory listing.  If I put `alias foo=ls` bash will read the alias, but if I run `bash -l -c foo`,

[2020-09-08 15:50] mattrose commented on #202
So this was caused by two bugs, only one of which is in my power to fix.

[2020-09-09 18:02] #202 closed

[2020-09-09 18:32] #190 closed

[2020-09-10 07:43] MKaras93 commented on #121
Such shortcut would be very useful, especially with a shortcut to shortcuts tab :exploding_head:
Currently when you want to look up a shortcut, you have to use the mouse.

When it comes to where to anchor the menu: does it really matter where it's anchored, maybe anchor at the active cursor? Or at the top of the window?

[2020-09-17 15:55] bitinerant opened #210 "config settings lost when I cancel "Close multiple terminals" dialog"
I have a Terminator window that launches another Terminator window with a specific profile via `terminator -l ...`. This second window has 5 horizontal terminals. If I close the second window with the x in the top-right corner, I get the expected dialog "Close multiple terminals?". If I click 'Cancel' in this dialog, Terminator silently zeros out the `~/.config/terminator/config` file and displays

[2020-09-17 22:33] mattrose commented on #5
Finally have a rough proof-of-concept on this.  That was super annoying.

[2020-09-18 06:40] dafanasiev commented on #206
I try to make snap...

But i have no idea how to deal with d-bus, because this code:
[code]
`snapcraft.yaml` require constant name for bus name. Bad app design?

file: `snapcraft.yaml`:
[code]

To use this file:
[code]

[2020-09-18 14:35] mattrose commented on #210
can you attach a copy of your config?  It looks like it got corrupted somehow.

[2020-09-18 16:14] bitinerant commented on #210
Thanks for helping with this issue. :smiley: Unfortunately, I can't post the config publicly because it contains sensitive information. It may be helpful to know that `file` says it is `UTF-8 Unicode text`. The fist 3 bytes are 5b 67 6c, so no UTF marker. It *does* contain the U+21D2 character (hex bytes e2 87 92) in a few places, all of them on a `command = ...` line. Is this not supported?

[2020-09-18 21:58] yuriw opened #212 "Question - custom command line"
Can someone share an example how to execute a command like below for a profile on start.

`ssh xyz` (and then in the term) `podman exec -it WIP6 /bin/bash` ++

Thx

[2020-09-18 22:28] dvdlevanon opened #213 "New feature: A Separate Json file for dynamic Layouts"
Adding the following command line arguments
[code]

The Json file may provide an easy way to configure a collection of tabs and terminals using common pre-defined layouts, and also may support basic theming like background and text color.

This would allow to:
1. Edit Layouts using a Text Editor instead of the "Preferences > Layouts" dialog.
2. Share layouts easily between machines and people.
3.

[2020-09-19 15:53] mattrose commented on #212
`ssh xyz -e 'podman exec -it WIP6 /bin/bash'` I think.  I haven't tested that out tho.

[2020-09-19 15:57] yuriw commented on #212
@mattrose that does not work :(

[2020-09-19 16:15] mattrose commented on #212
the flag for ssh is `-x` not `-e`.  As I said, hadn't tested it :)

[2020-09-19 16:22] mattrose commented on #212
I think `ssh xyz -x 'podman exec -it WIP6 /bin/bash' should work, but I don't have podman or docker installed to double-check

[2020-09-19 16:26] yuriw commented on #212
odd still no love for me with 'ls -al'

This is my setup:

![image](https://user-images.githubusercontent.com/3876474/93671713-3156e380-fa5a-11ea-8666-0758753dbc81.png)

Like yours?

[2020-09-19 16:34] mattrose commented on #213
This sounds interesting.  I think it might be better to have profiles defined in JSON rather than layouts.  Profiles have the functionality that you need (judging from your description), and can contain layouts as well.

Personally, I'd be very comfortable working on this with you as well, just because it would be a nice change from all the GUI programming I've been doing lately with trying to get

[2020-09-19 16:55] dvdlevanon commented on #213
Hi,

Thanks for your response @mattrose, would be glad to work with you, I already started something and will have it ready for push soon, will share the PR.

Regarding layout vs profiles, I might miss something, currently a `.config` file looks like:
[code]

Seems like tabs+terminals are part of the layouts section, while profile holds things like colors and fonts. isn't it?

[2020-09-19 19:07] mattrose commented on #213
You know what, you're right.  Profiles and Layouts are separate.   For some reason I thought that Layouts were a subset of Profiles.  Looking forward to your PR

[2020-09-19 19:41] dvdlevanon commented on #213
Just pushed the initial PR, work is still in progress.
https://github.com/gnome-terminator/terminator/pull/214

I put some json files in here: https://github.com/dvdlevanon/terminator/tree/layout-json-file/layout-files-examples

Example run:
[code]

---

The `--layout` argument may be either a name of a layout from the global `config` file, or a path to a layout.json file.
It first look for the la

[2020-09-19 19:43] dvdlevanon commented on #213
Here is a screenshot with this example:
[code]
https://ibb.co/zFVBM55

[2020-09-20 02:14] mattrose commented on #213
That looks very clean on first glance, and thanks for the PR.  Hopefully I'll be able to pull it down and play with it tomorrow, but more likely Monday.

[2020-09-20 02:36] mattrose commented on #212
I think what's going on is that you're exiting the terminal as soon as `ls -al` is done, so it runs the command and immediately exits.  I think I figured it out tho.
I think `ssh -t xyz -x 'podman exec -it WIP6 /bin/bash'` should work.  The -t flag ensures you have a pty, IIRC.

I do feel obligated to say, this really has nothing to do with terminator and is more of an SSH question...

[2020-09-20 02:39] mattrose commented on #210
Hmm, can you post the command that's causing it to fail?   Do you need those specific unicode characters in the command?  I just need some way of reproducing the bug to be able to debug it.

[2020-09-20 13:26] yuriw commented on #212
@mattrose thanks a million for your help!
It does work !

Even thou it's indirectly related to the terminator I am sure it will help lots of its users :)

[2020-09-20 15:32] mattrose commented on #212
yr welcome, glad to help!

[2020-09-20 15:32] #212 closed

[2020-09-20 22:45] dvdlevanon commented on #213
@mattrose Noticed I just pushed my latest changes, and I slightly changed the interface due to the `profile` support that was added.

Example run:
[code]

The `--config-json` parameter is a layer above the regular config file, it may contain a single layout and a single profile. both used by default if no other option is specified.

It is possible for the user to create custom a layout, with custo

[2020-09-21 17:33] bitinerant commented on #210
I have found a way to reproduce what I think is the same bug, but without a customized config file:
* close all instances of Terminator
* delete or rename ~/.config/terminator/config
* open Terminator and select Preferences > Layouts > Terminal child1 and in the Custom command box type: `echo fiance; sleep 1h`
* click close and then close Terminator
* run Terminator again; it should display "fianc

[2020-09-21 18:17] mattrose commented on #210
Thank you, that'll make it much easier to work on.

[2020-09-22 20:58] #120 closed

[2020-09-23 14:22] #11 closed

[2020-09-23 14:35] mattrose commented on #203
This is fixed in the latest master according to my testing

[2020-09-23 14:35] #203 closed

[2020-09-23 15:26] mattrose opened #216 "Use auto-hiding scrollbar from GTK3, rather than the old one"
From a comment on reddit

Handling of scrollbar - Tilix has perfect solution (auto-hiding, barely visible scrollbar - using modern Gnome style); Terminator has old scrollbar from GTK2 times, with an option to disable it completely (but no option for autohide the same way Tilix does it).

[2020-09-25 06:47] wellic opened #218 "AttributeError: 'Terminal' object has no attribute 'spawn_async'"
I tried to install the last version of the Terminator but I got an error 'AttributeError: 'Terminal' object has no attribute 'spawn_async'
' after starting the application.

What packages should I install?

Last commit: 41caaabdf3264ddf1519e9df8ccc47d0ce2d8ea5

[code]

[2020-09-25 07:35] #218 closed

[2020-09-25 07:36] wellic commented on #218
Incorrect install :)
Sorry

[2020-09-26 05:52] tanc opened #219 "Feature request: Preference to disable Ctrl + Scroll font size change"
Originally posted here: https://bugs.launchpad.net/terminator/+bug/1505292

This feature request is to add a preference to control the behaviour of Ctrl + Mouse (or trackpad) scroll

**Current behaviour**

Ctrl + Scroll increases or decreases font size in Terminator.

**Desired behaviour**

That this feature is behind a preference so it can be disabled. It would be enabled by default in a new inst

[2020-09-28 01:42] awesomebytes opened #221 "Create a new release? (and maybe add easier-to-install workflow?)"
Hello, I've been using terminator for... as long as I can remember. It's a great tool! First, let me thank you for the effort on keeping this package alive and updated, it is very appreciated.

In this issue I would like to open a conversation about the release model/life cycle/methodology for this great package.

On one hand I would like to request a new release to ease installation as I would ve

[2020-09-28 15:58] mattrose commented on #221
I definitely agree that we need a new release.  I was planning on having one out at the beginning of this month, but life got in the way and there was always one more bug to fix.  I've discussed it with my co-maintainer and there's a few things we want to work on but we should be ready to release by the end of this week.

For note 3, we've come up with an ad-hoc policy of having terminator be comp

[2020-09-30 14:23] #5 closed

[2020-09-30 14:36] gricertg commented on #219
I think this is already fixed with PR https://github.com/gnome-terminator/terminator/pull/46

[2020-09-30 14:40] mattrose commented on #219
Can you check out master and close this if this is the case?  I'm planning on releasing this as 2.0 next week.

[2020-09-30 14:50] gricertg opened #222 "clusterssh like behaviour via plugin"
I use terminator a lot.
In some cases i have a list of servers which i pipe to `xargs cssh`. I would love a similar behaviour with `terminator` with multiple panes.

Before i found this repo i thought about writing a python wrapper which pastes a layout in the configuration file but i think this is not the correct attempt. I can imagine developing a plugin for this functionality which generates a

[2020-09-30 16:10] tanc commented on #219
Cloned master branch of the repo and opened `./terminator`. Noted in preferences the new option to disable scrollwheel. Ticked the box and tested Ctrl + Scroll and confirm there is no zoom. THANK YOU!!!

[2020-09-30 16:10] #219 closed

[2020-09-30 17:13] gricertg commented on #219
@tanc now you were faster than me ;)
Just got home and wanted to test it. However i tested it too because i wanted to try a build with manjaro. Works fine!

[2020-09-30 20:21] mattrose commented on #222
One thing that you might be able to use, or maybe just give you some ideas is #213.  The author is working on generating layouts from JSON files.  As a former sysadmin I can definitely see the appeal.  I'm not sure the plugin architecture is up to it, but it can also be extended, if we can come up with a good way.

[2020-10-01 20:37] mattrose commented on #210
I'm just going to assume that this was part of the porting to python3, and the different behaviour when dealing with unicode strings that don't map to ascii.

[2020-10-01 20:39] mattrose commented on #201
Can you attach a text file that I can use to attempt to reproduce the problem?

[2020-10-01 20:49] JavaScriptDude commented on #201
In the attached zip you will find test.tsv.

- To  verify, open a terminator window and run `% cat test.tsv`
- Resize the window so that the edge of the window hits the end of a field delimiter (tab) and re-run `cat` as need to get positioning right.
- Copy the text on the screen and paste it into a spreadsheet or programmers editor and you will see that some tabs are removed.

[test.zip](https://

[2020-10-01 20:57] mattrose commented on #201
Thank you, sorry for leaving this so long, I was in the middle of fixing two other big hairy bugs.   This should help a lot.

[2020-10-02 07:10] xvybihal commented on #76
I have tracked it down in my case. It's a configuration problem. When i cleared my ~/.config/terminator/config, the bad behavior was gone! So I did setup my terminator again to the state I like it and it works fine. It is kind of obvious now, why it was happening:

[code]
The title was enforced by my configuration!

I am not sure at what point it was set up, but I don't remember setting such odd t

[2020-10-05 09:27] njZhuMin opened #225 "Multi tab breaks transparent background"
Hi guys,
Thank you so much for almost bringing the very iTerm onto Linux. AMAZING work!

Here I'd like to report an issue.

Reproduce:
1. Set transparent background in Terminator
2. Open Terminator, transparent background works fine
3. Open a new tab by "Ctrl+Alt+T"
4. Switch between two tabs, or just click another window to make Terminator window lose focus
5. Transparent background does not work

[2020-10-07 12:28] logix2 opened #227 "Some files install to the wrong location"
Using the Terminator 2.0 source: On my Ubuntu 20.10 desktop, some files, like the icons, .desktop file, etc. are installed to the wrong location when using `python3 setup.py install`. Example:
[code]

I also tried to install it using `--prefix=/usr`, but then the application doesn't even start.

[2020-10-07 13:56] kamermans commented on #227
I had this problem too.  For now you can copy the icons and stuff to `/usr/share` to get Terminator into the applications folder with its icons, etc:

[code]

[2020-10-07 15:54] grazzolini opened #228 "Release 2.0 does not have signed assets"
Hi,

I'm the packager for terminator on Arch Linux. The release 1.92 has on the assets a signed tar.gz with detached signature. The 2.0 release, while having the tag signed, doesn't have any signed assets. If the release model changed to only have signed annotated tags and no signed assets, let me know, so I can change the package to use signed git tags instead.

If not, please add assets to the 2

[2020-10-07 18:37] mattrose commented on #228
Sorry, first time releasing.  I'll upload the detached sig.

[2020-10-07 19:01] mattrose commented on #228
I have the detached signature tarball.  Do you know how to generate the signed assets file?

[2020-10-07 19:11] grazzolini commented on #228
@mattrose I just need the detached tarball signature. That other file that's present on the 1.92 release, seems to be just the gpg public key that was used to sign the tarball. I don't think you need to include that.

[2020-10-07 19:16] grazzolini commented on #228
Hmm, looks like the key used to sign this release differs from the previous one (1.92). I'm going to check if I can there's a chain of trust that can get me from the old key: 6FBDB41587919A0F4BA96EBA9A358BAB04A4ED27 to D11A7596F61705480C711598F2FAC7C7BAE930A5. Would be nice if you guys could cross sign these keys and upload the signatures to a keysever.

[2020-10-07 19:36] mattrose commented on #228
Yeah, the key that signed this release is mine, and the key that signed 1.92 is @lazyfrosch's key.  Both keys are the ones in github, so there should be a link through there, but yeah, it's not ideal.  We're planning on cross-signing these keys, but Markus is very busy these days, and I didn't want to delay the release any longer for it.

[2020-10-08 01:52] JavaScriptDude commented on #201
No worries. This definitely is an edge case. I was able to get around the issue by making a proper data extraction API for an ancient roach motel of a database I am working with so I don't have the need to scrape TSV data from tail outputs any more. The pain I went through writing my new extraction API has paid back 100 fold for me so I'm glad I had the issue ;^)

[2020-10-08 07:05] lazyfrosch commented on #228
We will certainly cross-sign, for the moment the reference on GitHub should be prove enough.

[2020-10-08 12:28] grazzolini commented on #228
Sure, no problem. I saw as well that matt was already pushing stuff even before 1.92. I'm going to create the package on Arch, and I'll add both your keys to the validpgpkeys array.

[2020-10-08 12:28] #228 closed

[2020-10-08 12:53] grazzolini commented on #228
@mattrose one last thing, I wasn't able to find your public key on any keyserver. Can you export it and add to the assets, the same way it was done for the 1.92 release?

[2020-10-08 13:01] mattrose commented on #228
Just add my pubkey to the assets?  Sure.  I'll make sure my key is on all the keyservers as well.  @lazyfrosch how did you generate the gpg-<hasheything>.asc file for the last release https://github.com/gnome-terminator/terminator/releases/download/v1.92/gpg-6FBDB41587919A0F4BA96EBA9A358BAB04A4ED27.asc and what is it exactly?

[2020-10-08 13:08] grazzolini commented on #228
@mattrose `gpg --output gpg-D11A7596F61705480C711598F2FAC7C7BAE930A5.asc --armor --export mattrose@folkwolf.net` should do.

[2020-10-08 13:33] mattrose commented on #228
@grazzolini Awesome, thank you.  The situation with keyservers seems to have gone **really** downhill over the past couple of years.  The only one a fairly in-depth search brings up that's in wide use is https://keys.openpgp.org/.  Do you know of any other reliable places I can upload my key to?

[2020-10-08 13:37] grazzolini commented on #228
I think one of the last somewhat reliable (as in up most of the time) is keyserver.ubuntu.com. That's the one I've been using as well. But yes, the situation with keyservers suck. I wish github added a way where you could get a users GPG key from their profile. Or you cloud click on a button on the verified commit badge and get it from there as well.

[2020-10-08 13:56] ChaoticEvilDM opened #229 "Feature Request: Split window shell based on parent"
I am currently using zsh alongside bash, since I prefer to handle certain tasks in each. Terminator invokes a new shell, based on the users default shell when splitting a window, rather than the shell originally used in the parent window. It would be a great improvement to have the shell based on the parent - as an option e.G.

[2020-10-08 13:57] ChaoticEvilDM opened #230 "Feature Suggestion: Splitted screen shells based on parent"
I am currently using zsh alongside bash, since I prefer to handle certain tasks in each. Terminator invokes a new shell, based on the users default shell when splitting a window, rather than the shell originally used in the parent window. It would be a great improvement to have the shell based on the parent - as an option e.G.

[2020-10-08 15:08] mattrose commented on #230
Closing this as a duplicate of #229

[2020-10-08 15:08] #230 closed

[2020-10-08 19:36] mattrose commented on #225
Found it.  PR incoming

[2020-10-08 19:40] #227 closed

[2020-10-08 19:44] #225 closed

[2020-10-08 21:06] planet36 opened #234 "symlinked config replaced with regular file"
My terminator config file is symlinked to my dotfiles repo.
When I change a preference and close the window, the symlink is replaced with a regular file.

Introduced in
d10919df5fb4ff0b103c08c2e074f382982a7678

Also, this might affect file history/recovery, as a new inode is created.

[2020-10-09 13:16] moshenskyDV opened #236 "Ubuntu 20 "open in terminal" not replaced by terminator."
As I get correctly, after installing terminator it replaces all calls of default terminal (Ctrl + Alt + T) for example starts to call terminator instead of terminal.

But there is one scenario when default terminal still opens:
1) open "files" (nautilus if I remember correctly - default file viewer).
2) go to any directory and press right mouse button
3) choose "open in terminal"

Is default termi

[2020-10-09 14:57] mattrose commented on #236
Hmm, I'll have to look at my ubuntu VM and see what's going on there.  I **do** know that Ubuntu has some very specific, and kinda weird patches to GTK that enables the "Open in Terminal" and Ctrl-Alt-T behaviour.

[2020-10-09 15:12] #93 closed

[2020-10-09 15:17] mattrose commented on #73
The wrapper script only solved part of the problem.  As well, None of the assets were being installed (see #227).  I managed to find the magic invocation that installs assets where the system expects them to be.  Can we close this bug, and re-open one for the clean target?  I always have to read through this bug to figure out why it's not closed yet.

[2020-10-09 16:47] mattrose commented on #74
@egmontkob can you take a look at #223 and see if this is what you mean?  It works really well on my Mac but it has weird inexplicable effects on my Fedora box.  There is some code in the vte-2.91 test app that I'm not sure why it's there.

[2020-10-09 17:24] clwluvw commented on #221
@mattrose Terminator on ubuntu 20 has lots of bugs, won't you release the new updates on ubuntu ppa?

[2020-10-09 17:28] egmontkob commented on #74
@mattrose Sorry for not notifying you about this, but I no longer work on terminals. See https://gitlab.gnome.org/GNOME/vte/-/issues/259.

Wishing you all the best,
egmont

[2020-10-09 18:56] mattrose commented on #74
@egmontkob Understandable.  The politics and sheer stubborn-ness have frustrated me quite a bit too, when I can't just ignore it.  I'm already running my own fork of vte on my mac laptop just to get the emacs keybindings to work (Ctrl-A, Ctrl-E, etc.), and am thinking of merging the fedora patchset in and distributing that with the snap and flatpak versions of terminator.  There are so many differ

[2020-10-09 19:15] mattrose commented on #221
Unfortunately I don't have any control over the existing ubuntu PPA.  I'll see what I can do about setting up a ppa on my ubuntu account.

[2020-10-10 00:51] planet36 commented on #210
I can't reproduce this in Terminator 2.0 on Ubuntu 20.04.
Does `sleep 1h` have to finish?

[2020-10-10 05:16] bitinerant commented on #210
The `sleep 1h` does not have to finish. It is just to keep the window open so you can view the output. If Terminator displays `fiancé` (with the accent), then it would seem that Terminator 2.0 does not have this bug. I"m using Terminator 1.91, which is what comes with Ubuntu 20.04.

[2020-10-10 15:46] mattrose commented on #210
Awesome, I'm going to close it then.

[2020-10-10 15:46] #210 closed

[2020-10-10 22:20] awesomebytes commented on #221
That's great news! Thanks a lot for the update!

On Sat, Oct 10, 2020, 06:15 Matt Rose <notifications@github.com> wrote:

[2020-10-11 20:18] DarthGandalf opened #238 "No tests in tarball"
Hi, tests are missing in the signed release at https://github.com/gnome-terminator/terminator/releases/download/v2.0.1/terminator-2.0.1.tar.gz

They do exist in https://github.com/gnome-terminator/terminator/tree/v2.0.1/tests

[2020-10-11 21:08] mattrose commented on #238
Hmm, I'll see if I can fix that for the next release if that's ok with you.

[2020-10-11 23:33] DarthGandalf commented on #238
Yeah, for now I'll just have to package for Gentoo from the archive generated by Github instead.

[2020-10-12 13:24] kimllee opened #239 ""s" character always stays in command line"
Hello,

I'm using Ubuntu 20.04LTS, I uninstalled Terminator 1.92 through APT built  and install terminator 2.01 from the sources using python 3.8 but I still have the "s" character displayed in the terminal.

[2020-10-12 13:28] mattrose commented on #238
You actually run the tests as part of the install procedure?  Commendable.  Hopefully now that I've got release procedures down, I'll be able to release more often.  I'm hoping for a release every 3 months.

[2020-10-12 13:50] DarthGandalf commented on #238
This is an opt-in feature. User can enable tests to run when building/installing the package. And it runs on end user's machine, with user's CXXFLAGS, etc.

As packagers, we support tests in packages where upstream have them.

[2020-10-12 14:20] mattrose commented on #239
Can you attach a screenshot?  It's not exactly clear from your description where the `s` is appearing.

[2020-10-12 23:37] TheCedarPrince opened #240 "[BUG] Super Zoom of Window Split"
Hi all,

Thank you so much for revitalizing the terminator project! I have been using it for years and I absolutely love it!

I just tried out the new release off of master (v2.0.1) and it sadly did not fix an issue I have been running into and that is this:

If I have a layout - for example, a vertical split that takes up half my monitor screen and two horizontal splits that halve the remaining h

[2020-10-13 01:48] bitinerant commented on #210
I decided to check this myself. I can confirm that this bug no longer exists in the current version (2.01, cloned 2020-10-12). :smiley:

[2020-10-13 09:59] kimllee commented on #239
The issue is related to my VM not from Terminator 2.0.1. I close the issue.
Thank you.

[2020-10-13 09:59] #239 closed

[2020-10-13 15:09] JimLynchCodes opened #241 "Easy Install?"
How do I install this for wsl on windows?

Can we can a one-liner install command that works please?

[2020-10-13 15:39] mattrose commented on #241
Should be in the WSL distribution repositories.  Running any kind of X11 program under WSL is a chore in my experience, but you should be able to do `apt install terminator` in WSL (if you're running the standard Ubuntu WSL) and it should work.

I haven't touched windows in a couple of years so I'm not very up-to-date on WSL.

[2020-10-13 17:24] 1player opened #242 "Smart Copy option to clear selection after copy"
Smart Copy is a cool feature. But it introduces a small usability problem: if a user inadvertently selects some text (perhaps in the scrollback), pressing Ctrl-C to terminate some foreground program won't do anything, as this will just copy the text in clipboard and do nothing else. The solution is to clear the selection manually (click somewhere on the window so nothing is selected), and press Ct

[2020-10-13 18:39] dragonxtek opened #243 "Save sessions"
I usually always use the same 5 windows, but every time I turn off the computer, I have to reload each one and resize the windows. Will it be possible to save the environment or session and then load it immediately?

[2020-10-13 19:07] #243 closed

[2020-10-13 19:32] dragonxtek opened #244 "FIXED: Install terminator from repositories"
When I try to install it from repositories, the following issues appear:

error: can't copy 'data/terminator.desktop': doesn't exist or not a regular file
error: can't copy 'data/terminator.metainfo.xml': doesn't exist or not a regular file

To solve it I need to do the following:

cd data/terminator.desktop.in data/terminator.desktop
cp data/terminator.appdata.xml.in data/terminator.metainfo.xml

[2020-10-13 19:42] mattrose commented on #244
What repositories are you trying to install from?

[2020-10-13 19:47] dragonxtek commented on #244
I did the following:
git clone https://github.com/gnome-terminator/terminator.git
cd terminator
sudo python3 setup.py install

[2020-10-13 19:54] mattrose commented on #244
You need to run `python setup.py build` first.
Also, you should run `python3 setup.py install --single-version-externally-managed --record=install-files.txt` otherwise a bunch of assets won't get copied properly.

[2020-10-13 20:04] dragonxtek commented on #244
I re-installed as you said, but now I can't run terminator:

[code]

[2020-10-13 20:06] mattrose commented on #244
Hmm, what distro/OS are you using?

[2020-10-13 21:38] mattrose commented on #244
Also, try changing to a different directory before running terminator.   There were a lot of weird bugs with setuptools in 3.6 I think

[2020-10-13 21:53] mattrose commented on #242
Have no idea how hard this'll be, but I'll take a stab at it.

[2020-10-13 23:15] TheCedarPrince opened #245 "Execute Multiple Custom Commands in One Window?"
I am trying to chain together multiple commands in a custom command for a window layout and it appears to fail. For example, in custom command, I could write `echo 'Hello World!'` and that works perfectly. However, if I try to chain it with something else like `echo 'Hello World!' && python script.py` it fails.

How do I chain multiple commands for the custom command of one window? Thanks for the

[2020-10-14 15:36] mattrose commented on #245
Hmm, works for me. I made a profile called cmdtest and this does everything I expect.

[code]

What version are you on?

[2020-10-14 15:43] mattrose commented on #240
Hmmm, that's not quite clear to me.  Maybe if you could explain it more in steps that I can follow, ie:

I take this sequence of actions and what I expect to see is this.

Feel free to use screenshots to clarify, but the animated gif doesn't give me quite enough to go on

[2020-10-14 15:54] #234 closed

[2020-10-14 18:01] #213 closed

[2020-10-14 18:17] mattrose commented on #242
Hmm, maybe you have copy bound differently?  With the default mapping, Ctrl-C doesn't copy, Ctrl-Shift-C does. and when I select text, and hit Ctrl-C after selecting text in a terminal with  a long-running process, Ctrl-C behaves exactly as I expect, and interrupts the process.

[2020-10-14 18:28] #238 closed

[2020-10-14 19:32] mattrose commented on #236
I'm going to have to ask you to open a bug for the ubuntu Files app.  There's nothing I can do about that.

[2020-10-14 19:32] #236 closed

[2020-10-14 19:40] mattrose commented on #201
Hmm, not seeing this on Fedora32 with vte291-0.60.3 (wihich, tbh, is probably where the problem lies.  Can you see if latest release fixes this?

[2020-10-15 01:18] JavaScriptDude commented on #201
Ok. I'll spin up a Fedora VM and put in lastest to confirm on my end. The version I have going on my Ubuntu is:
% terminator --version
terminator 1.1.9

[2020-10-15 11:53] 1player commented on #242
I have copy bound to Ctrl-C, which is why I need smart copy. Is smart copy ever useful if copy isn't bound to Ctrl-C?

[2020-10-15 14:11] mattrose commented on #242
Ah, ok.  Honestly I've never used the feature, so I wasn't sure what the use case was.

[2020-10-15 20:07] JavaScriptDude commented on #201
I tried on a Fedora VM with Terminator 1.92 and I still see the issue there.

My steps to reproduce:

1. Open Terminator
2. cat tsv sample file
3. Resize Terminator window so that edge of window is at the edge of a column before a tab char (not end of row)
4. Re-run cat of tsv file
5. Copy the range on the screen and paste to a text editor

Result that I see: Tabs that fall at edge of screen are e

[2020-10-15 23:12] mattrose commented on #201
version 2.0.1, you can do `sudo dnf upgrade --enablerepo=updates-testing --advisory=FEDORA-2020-f225727bb7` on Fedora 32 and that should install it.

[2020-10-15 23:13] mattrose commented on #201
if it's out of testing you should just be able to do `sudo dnf upgrade terminator`

[2020-10-17 02:34] mattrose commented on #221
New Release is done.  pypi.org already has a "terminator" project already, but it only has one release from 2016, so I sent an email to the author asking him if.he was still using it.  I think PPA is next

[2020-10-18 18:38] napcok opened #250 "Translations: some strings missing in pot file"
Some strings from preferences dialog are missing in pot file.

![preferences](https://user-images.githubusercontent.com/3028270/96376882-c811df80-1181-11eb-9f9d-5ec0acab3638.png)
![terminator_profile](https://user-images.githubusercontent.com/3028270/96376885-cc3dfd00-1181-11eb-95b3-643664e8390f.png)
![terminator_menu](https://user-images.githubusercontent.com/3028270/96376886-ce07c080-1181-11eb-8

[2020-10-18 21:54] #250 closed

[2020-10-19 06:08] BBQigniter opened #253 "Cannot set/use Broadcast Shortcuts"
Just updated to latest version on my Fedora 32 machine. Unfortunately my "Broadcast..." shortcuts are all disabled and if I want to set a shortcut, it stays disabled.

Started terminator in debug-mode - it's showing following on the console

[code]

[2020-10-19 07:11] BBQigniter commented on #253
as a workaround I edited the keybindings section in the `./config/terminator/config` file

[code]

[2020-10-19 14:31] mattrose commented on #253
Fixed in #224

[2020-10-19 14:31] #253 closed

[2020-10-19 15:09] mattrose commented on #242
Well, I found an interesting way to get the desired behaviour but boy is it ugly.  I'll keep working at it.

[2020-10-19 18:11] jadekler commented on #4
I am not seeing this working as of `2.0.1`:

![20201019_121115](https://user-images.githubusercontent.com/3584893/96494892-39927200-1204-11eb-886b-61cf6290f398.png)

(built from https://github.com/gnome-terminator/terminator/releases/tag/v2.0.1)

[2020-10-19 20:52] mattrose commented on #242
As with most things, it was just a matter of finding the correct Vte.Terminal method

[2020-10-19 21:41] #242 closed

[2020-10-20 11:28] mjcv opened #256 "Keybindings for version 2.0.1 in Fedora 32 does not work after upgrade from 1.92"
After I have upgraded from terminator-1.92-6.fc32.noarch to terminator-2.0.1-1.fc32.noarch, the keybindings stopped working. When using some of them like Shift+Ctrl+T to open a new tab, is displayed a red bulb, like it was signaling an error, but does not display any message. I have checked in the journalctl while performing the operations and I don't see any error.

[2020-10-20 11:31] mattrose commented on #256
Can you run terminator on the commandline with `terminator -d` and paste or attach the output?  I'm on F32 myself and I don't see that at all.

[2020-10-20 11:35] mjcv commented on #256
The output is:

ConfigBase::__init__: Borg::__init__: Preparing borg state for ConfigBase
noclass::get_config_dir: Found config dir: /home/jcruz/.config
ConfigBase::load: looking for config file: /home/jcruz/.config/terminator/config
ConfigBase::load: config validated successfully
ConfigBase::load: ConfigBase::load: Processing section: global_config
ConfigBase::load: ConfigBase::load: Processing s

[2020-10-20 11:39] mjcv commented on #256
From the above log, the logs displayed after using the keybinding Shift+Ctrl+T is:

Window::on_key_press: Window::on_key_press: looked up 'new_tab'
Terminal::on_keypress: Terminal::on_keypress: Ingore processed event with event.state 8213
ConfigBase::get_item: ConfigBase::get_item: urgent_bell found in profile default: False
ConfigBase::get_item: ConfigBase::get_item: icon_bell found in profile de

[2020-10-20 12:00] mjcv commented on #256
I have downgraded to the previous version and works fine the keybindings, when I upgrade again, stop working.

[2020-10-20 13:26] mattrose commented on #256
Hmm, this is the code here that causes it
[code]
Can you do `ps auxw | grep ibus-daemon` and see if it is actually running?

[2020-10-20 13:27] mattrose commented on #256
Thanks for helping me look into this, btw.

[2020-10-20 13:44] mjcv commented on #256
This is the result:
2235  0.0  0.0 601712  9172 ?        Sl   13:56   0:00 ibus-daemon --panel disable --xim

Just one comment, I have disabled in the configuration the "DBus server" option, I don't know if this has an impact

[2020-10-20 13:45] mattrose commented on #256
In the configuration file for ibus?  That could be the problem, lemme check

[2020-10-20 13:46] mjcv commented on #256
![image](https://user-images.githubusercontent.com/1961780/96594869-61103a00-12eb-11eb-8512-5e178a99f9bf.png)

[2020-10-20 13:49] mjcv commented on #256
This is the content of the config file:
`
[global_config]
  dbus = False
  window_state = maximise
  suppress_multiple_term_dialog = True
  title_use_system_font = False
  title_font = DejaVu Sans Mono 13
[keybindings]
  new_tab = <Primary><Shift>t
  split_horiz = <Primary><Shift>o
  split_vert = <Primary><Shift>e
  insert_number = <Primary><Alt>n
[profiles]
  [[default]]
    background_color = "#

[2020-10-20 13:57] mattrose commented on #256
Hmm, can you run the following in the python REPL and paste the output here?
[code]

[2020-10-20 14:02] mjcv commented on #256
Could you please fix the last line? it seems to be incomplete or something does not work

[2020-10-20 14:05] mjcv commented on #256
The default version of Python in my path is Python 3.8.6 and psutil 5.6.7

[2020-10-20 14:09] mjcv commented on #256
Updating your script to this
[code]
The output is:

psutil.Process(pid=2235, name='ibus-daemon', started='13:56:12')

[2020-10-20 16:36] mattrose commented on #256
I'm ... stumped.  I can't figure out how to reproduce this.  I'll take a stab at it in a little bit.  There's some things I can think of doing

[2020-10-20 20:50] JavaScriptDude commented on #201
Sorry for delay. Had my head in the codes.  I'll take a look at this right now.

[2020-10-20 21:26] JavaScriptDude commented on #201
I was able to get 2.01 installed using git. Verified same issue on Fedora with 2.01. Also tested 2.01 on Ubuntu and got the same result.

[2020-10-20 23:12] JavaScriptDude commented on #201
Just as a note, I realized that this behavior of truncating tabs that hit the edge of the window is a normal behavior across with Gnome Terminal, Mate Terminal, Konsole and even Window cmd.exe.

As this behavior is the status quo, I think we should seriously consider closing this ticket out as it cannot be considered a bug.

Sorry I did do this baseline check this before :(

[2020-10-21 08:09] mjcv commented on #256
@mattrose if you need me to test something, just let me know and I'll try

[2020-10-21 19:30] mattrose commented on #201
All right, thanks for looking into this further.

[2020-10-21 19:30] #201 closed

[2020-10-22 14:35] yingshaoxo opened #258 "Add bigger icon sizes"
Update the icon size to fit the modern needs.

https://github.com/gnome-terminator/terminator/tree/master/data/icons/hicolor

add 128*128, 256*256, 512*512 size.

___

When I use alt+tab to switch programs on PopOS, I can see it clearly. It's ugly if stays using low resolution icon.

[2020-10-22 20:38] freud14 commented on #221
Hi @mattrose, I think you should contact the maintainer of the Debian and Ubuntu packages. Here is the links to the respective packages:
* https://packages.debian.org/sid/terminator
* https://packages.ubuntu.com/focal/terminator

[2020-10-22 23:12] mattrose commented on #221
@lazyfrosch is one of the debian maintainers and the founder and original impetus behind this fork.  The ubuntu project just picks up his work.  He's busy right now, I know he'll package up 2.0.1 as soon as he gets the chance.

In the meantime I've set up a PPA for 20.04 and 20.10 at https://launchpad.net/~mattrose/+archive/ubuntu/terminator

you should be able to do
[code]

[2020-10-22 23:14] #221 closed

[2020-10-22 23:18] mattrose commented on #245
closing WORKSFORME :)

[2020-10-22 23:18] #245 closed

[2020-10-22 23:19] mattrose commented on #244
closing for lack of feedback, please feel free to re-open.

[2020-10-22 23:19] #244 closed

[2020-10-22 23:20] #241 closed

[2020-10-22 23:21] mattrose commented on #240
Closing for lack of feedback, please feel free to re-open.

[2020-10-22 23:21] #240 closed

[2020-10-23 04:28] JimLynchCodes commented on #241
Hey @mattrose!

Sorry for taking so long to follow up on this.

I ran this command and received this output:
[code]

At this point though, I'm not sure how to open a terminator shell. 🤔

[2020-10-23 11:58] prakashsvmx opened #259 "Steps to install terminator"
Could someone update the steps to
1. install via terminal
2. Build from Source?

[2020-10-23 14:00] commadelimited opened #260 "Allow the creation of new windows using Ctrl + N"
I'm a relative Ubuntu newbie, but experienced Mac user. I discovered Terminator while looking for a replacement for iTerm2.

I see in the Keybindings tab that there's an option to set the shortcut for New Window. I'd like to be able to use Ctrl + N like many other applications. However when I try to set this shortcut it forces Shift + Ctrl + N. I looked through the list and didn't see any other op

[2020-10-23 14:02] clwluvw opened #261 "Broadcast all is broadcasting to all terminator windows"
After upgrading to 2.0.1 when I choose broadcast all, it will broadcast to all terminator windows that in previous version it wasn't like this and it was broadcasting to terminals in a that window.
Using Ubuntu 20.04.01

[2020-10-23 14:32] mattrose commented on #259
Instructions here: https://github.com/gnome-terminator/terminator/blob/master/INSTALL.md

[2020-10-23 14:34] mattrose commented on #260
What version of terminator are you using?

[2020-10-23 14:35] mattrose commented on #261
Hmm, that is the intended behaviour.

[2020-10-23 14:35] #261 closed

[2020-10-23 14:35] #259 closed

[2020-10-23 14:45] clwluvw commented on #261
@mattrose It's not like this in v1.91
And I think it's so much better to be like this because it has many use case to broadcast command to all terminals in one window not to all of them!

[2020-10-23 16:40] gkatev opened #262 "Open terminator [2.0.1] in same working directory"
In 1.92, terminator opens in the same working directory as the "parent", whereas in 2.0.1, it always opens in $HOME.
I believe the functionality should be how it was in 1.92, the same way it is in gnome-terminal (and others?).
How to reproduce:

Simple use case:
When launching a terminal from the file manager, you want it to be started at the current folder.

[2020-10-23 19:00] commadelimited commented on #260
@mattrose I'm using `terminator 1.91` for `Ubuntu 18.04`.

[2020-10-23 19:23] mattrose commented on #262
This is how it works for me.  If I open terminator from another terminal emulator, it opens in the directory I launched it from?

What OS are you using?

[2020-10-23 19:35] mattrose commented on #260
Are you comfortable running following the instructions at https://github.com/gnome-terminator/terminator/blob/master/INSTALL.md to install the latest master?  It works for me in master.

The other thing you could do is edit the terminator config file directly and add the following lines in the `[global_config]`
 section .config/terminator/config

[code]

[2020-10-23 19:38] mattrose commented on #256
Would you be comfortable running debug code from https://github.com/mattrose/terminator, if I push a branch to that?